.CurrencySection4{
    display:flex;
    height:calc(100vh - 80px);
    z-index:2;

    &-left{
        position:relative;
        flex-basis:50%;
        background:#5FAF42;
        color: white;
        display:flex;
        flex-direction: column;
        text-align:center;
        // align-items:center;
        // justify-content: center;
        padding-top:50px;
        padding-bottom:50px;
       
        &-text{
            position: absolute;
            padding-left:60px;
            padding-right:60px;
            width:100%;
            height:100%;
            top:0;
            display:flex;
            flex-direction:column;
            // align-items:center;
            justify-content: center;
            text-align:center;
            &-heading{
                font-family: "Monserrat";
                font-size:30px;
                font-weight:300;
                padding-bottom:1rem;
                text-align:center;
            }
            &-heading>span{
                display: block;
            }
            &-para{
                text-align: center;
                font-family: "Poppins";
                font-size:12px;
                font-weight:200;
                transform:translateX(-150%);
                transition:transform 0.7s ease;
                &-para1,&-para2{
                   
                }
                &-para1{
                    padding-bottom:1rem;
                }
            }
            

        }
    }
    &-right>img{
        width:100%;
        height:100%;
    }
    &-right{
        flex-basis:50%;
    }
    
}

// .CurrencySection4:hover .CurrencySection4-left-text-para1
//  {
//     transform:translateX(0);
// }

// .CurrencySection4:hover .CurrencySection4-left-text-para2
//  {
//     transform:translateX(0);
// }
