$Section4_heading_font:1.75rem;
$Section4_padding:90px;

.CurrencySection4{
    display:flex;
    height:calc(100vh - 80px);
    z-index:2;

    &-left{
        position:relative;
        flex-basis:50%;
        background:#5FAF42;
        color: white;
        display:flex;
        flex-direction: column;
        text-align:center;
       
        &-text{
            position: absolute;
            padding-left:$Section4_padding;
            padding-right:$Section4_padding;
            width:100%;
            height:100%;
            top:0;
            display:flex;
            flex-direction:column;
            justify-content: center;
            text-align:center;
            &-heading{
                font-family: "Monserrat";
                font-size:$Section4_heading_font;
                font-weight:300;
                padding-bottom:2rem;
                text-align:center;
            }
            &-heading>span{
                display: block;
            }
            &-para{
                text-align: center;
                font-family: "Poppins";
                font-size:12px;
                font-weight:200;
                transform:translateX(-150%);
                transition:transform 0.7s ease;
                &-para1,&-para2{
                   
                }
                &-para1{
                    padding-bottom:1rem;
                }
            }
            

        }
    }
    &-right>img{
        width:100%;
        height:100%;
    }
    &-right{
        flex-basis:50%;
    }
    
}

@media(min-width:1500px){
    $Section4_heading_font:2rem;
    $Section4_padding:120px;

.CurrencySection4{
    display:flex;
    height:calc(100vh - 80px);
    z-index:2;

    &-left{
        position:relative;
        flex-basis:50%;
       
        &-text{
            position: absolute;
            padding-left:$Section4_padding;
            padding-right:$Section4_padding;
            width:100%;
            height:100%;
            top:0;
            &-heading{
                font-size:$Section4_heading_font;
                padding-bottom:2rem;
            }
            &-heading>span{
                display: block;
            }
            &-para{
                font-size:1rem;
                transform:translateX(-150%);
                &-para1,&-para2{
                   
                }
                &-para1{
                    padding-bottom:1rem;
                }
            }
            

        }
    }
  
    
}

}

@media(max-width:900px){
    $Section4_heading_font:1.75rem;
    $Section4_padding:60px;

.CurrencySection4{
    display:flex;
    height:calc(100vh - 80px);
    z-index:2;

    &-left{
        position:relative;
        flex-basis:50%;
        display:flex;
        flex-direction: column;
        text-align:center;
       
        &-text{
            position: absolute;
            padding-left:$Section4_padding;
            padding-right:$Section4_padding;
            width:100%;
            height:100%;
            top:0;
            display:flex;
            flex-direction:column;
            justify-content: center;
            text-align:center;
            &-heading{
                font-size:$Section4_heading_font;
                padding-bottom:1rem;
                text-align:center;
            }
            &-heading>span{
                display: block;
            }
            &-para{
                text-align: center;
                font-size:0.625rem;
                transform:translateX(0%);
                &-para1,&-para2{
                   
                }
                &-para1{
                    padding-bottom:1rem;
                }
            }
            

        }
    }
    &-right>img{
        width:100%;
        height:100%;
    }
    &-right{
        flex-basis:50%;
    }
    
}

}


@media(max-width:770px){
    $Section4_heading_font:1.75rem;
    $Section4_padding:60px;

.CurrencySection4{
    display:flex;
    flex-direction: column-reverse;
    height:calc(100vh - 80px);
    z-index:2;

    &-left{
        position:relative;
        flex-basis:50%;
        height:50%;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        text-align:center;
       
        &-text{
            flex-basis:50%;
            height:50%;
            width:100%;
            position: static;
            padding-left:$Section4_padding;
            padding-right:$Section4_padding;
            display:flex;
            flex-direction:column;
            text-align:center;
            &-heading{
                font-size:$Section4_heading_font;
                padding-bottom:1rem;
                text-align:center;
            }
            &-heading>span{
                display: block;
            }
            &-para{
                text-align: center;
                font-size:0.625rem;
                &-para1,&-para2{
                   
                }
                &-para1{
                    padding-bottom:0.5rem;
                }
            }
            

        }
    }
   
    &-right{
        flex-basis:50%;
        width:100%;
        height:50%;
    }
    &-right>img{
        width:100%;
        height:100%;
    }
    
}

}



@media(max-width:570px){
    $Section4_heading_font:0.875rem;
    $Section4_padding:60px;

.CurrencySection4{
    display:flex;
    flex-direction: column-reverse;
    height:calc(70vh - 80px);
    z-index:2;

    &-left{
        position:relative;
        flex-basis:50%;
        height:50%;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        text-align:center;
       
        &-text{
            flex-basis:50%;
            height:50%;
            width:100%;
            position: static;
            padding-left:$Section4_padding;
            padding-right:$Section4_padding;
            display:flex;
            flex-direction:column;
            text-align:center;
            &-heading{
                font-size:$Section4_heading_font;
                padding-bottom:1rem;
                text-align:center;
            }
            &-heading>span{
                display: inline-block;
            }
            &-para{
                text-align: center;
                font-size:0.5rem;
                &-para1,&-para2{
                   
                }
                &-para1{
                    padding-bottom:0.5rem;
                }
            }
            

        }
    }
   
    
}

}

@media(max-width:370px){
    $Section4_heading_font:0.875rem;
    $Section4_padding:15px;

.CurrencySection4{
    display:flex;
    flex-direction: column-reverse;
    height:calc(70vh - 80px);
    z-index:2;

    &-left{
        position:relative;
        flex-basis:50%;
        height:50%;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        text-align:center;
       
        &-text{
            flex-basis:50%;
            height:50%;
            width:100%;
            position: static;
            padding-left:$Section4_padding;
            padding-right:$Section4_padding;
            display:flex;
            flex-direction:column;
            text-align:center;
            &-heading{
                font-size:$Section4_heading_font;
                padding-bottom:1rem;
                text-align:center;
            }
            &-heading>span{
                display: inline-block;
            }
            &-para{
                text-align: center;
                font-size:0.5rem;
                &-para1,&-para2{
                   
                }
                &-para1{
                    padding-bottom:0.5rem;
                }
            }
            

        }
    }
   
    
}

}