.CurrencySection5{
    height:calc(100vh -80px);
    position:relative;
    &-text{
        position:absolute;
        width:100%;
        height:100%;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        top:-0;
        left:0;
        color: white;
        text-align:center;
        padding-top:50px;
        padding-bottom:50px;
        &-heading{
            font-family: "Monserrat";
            font-size:30px;
            font-weight:300;
            padding-bottom:1rem;
            text-align:center;
        }
        &-heading>span{
            display: block;
        }

       
        &-para1,&-para2{
            text-align: center;
            font-family: "Poppins";
            font-size:12px;
            font-weight:200;
        }
        &-para1{
            padding-bottom:0.5rem;
        }

        
    }
    &-image{
        width:100%;
        height:calc(100vh - 80px);
    }
    &-image>img{
        width:100%;
        height:100%;
    }
   
    
}

// .CurrencySection4:hover .CurrencySection4-left-text-para1
//  {
//     transform:translateX(0);
// }

// .CurrencySection4:hover .CurrencySection4-left-text-para2
//  {
//     transform:translateX(0);
// }
