.CurrencySection5{
    height:calc(100vh - 80px - 180px);
    display:flex;
    max-width:100vw;
    position:relative;
    overflow:hidden;

    &-overlay{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        background:rgb(36, 12, 12);
        opacity:0.3;
        z-index:1;
    }
    &-about{
        display:none;
    }
    &-textBlock{
        position:absolute;
        width:100%;
        height:100%;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        top:0;
        color: white;
        text-align:center;
        padding-top:50px;
        padding-bottom:50px;
        &-text{
            width:40%;
            z-index:2;

            &-heading{
                font-family: "Monserrat";
                font-size:30px;
                font-weight:300;
                padding-bottom:2rem;
                text-align:center;
            }
            &-heading>span{
                display: block;
            }

        
            &-para1,&-para2{
                text-align: center;
                font-family: "Poppins";
                font-size:12px;
                font-weight:200;
            }
            &-para1{
                padding-bottom:0.5rem;
            }
        }
        
    }
    &-image{
        max-width:100vw;
        min-height:400%;
        background:rgb(36, 12, 12);
        top:0;
        left:0;
        z-index:0;
        transform:translateY(calc(-100% / 2));
        transition:all 1.5s ease-in;
        display:flex;
        flex-direction:column;
        align-items:flex-end;
        justify-content: flex-end;
    }
    
    &-image img{
        display:inline-block;
        width:100%;
        height:calc(100%);
        object-fit:cover;
        z-index:1;
        overflow-x:hidden;
    }
    
}

.CoinRain{
   transform:translateY(0);
}


@media(min-width:1500px){
    .CurrencySection5{
        height:calc(100vh - 80px - 200px);
        display:flex;
        max-width:100vw;
        position:relative;
        overflow:hidden;
    
        &-overlay{
            position:absolute;
            background:rgb(36, 12, 12);

        }
        &-about{
            display:none;
        }
        &-textBlock{
            position:absolute;
            width:100%;
            height:100%;
            padding-top:50px;
            padding-bottom:50px;
            &-text{
                width:40%;
                z-index:2;
    
                &-heading{
                    font-size:2rem;
                    padding-bottom:2rem;
                    text-align:center;
                }
                &-heading>span{
                    display: block;
                }
    
            
                &-para1,&-para2{
                    text-align: center;
                    font-size:1rem;
                }
                &-para1{
                    padding-bottom:0.5rem;
                }
            }
            
        }
        &-image{
            max-width:100vw;
            min-height:400%;
            background:rgb(36, 12, 12);
            z-index:0;
            transform:translateY(calc(-100% / 2));
            transition:all 1.5s ease-in;
        }
        
        &-image img{
            height:calc(100%);
            object-fit:cover;
        }
        
    }
}
@media(max-width:900px){
    .CurrencySection5{
        height:calc(100vh - 80px - 180px);
        display:flex;
        max-width:100vw;
        position:relative;
    
        &-overlay{
            opacity:0.3;
            z-index:1;
        }
        &-textBlock{
            position:absolute;
            width:100%;
            height:100%;
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            top:0;
            color: white;
            text-align:center;
            padding-top:50px;
            padding-bottom:50px;
            &-text{
                width:60%;
                z-index:2;
    
                &-heading{
                    font-family: "Monserrat";
                    font-size:28px;
                    font-weight:300;
                    padding-bottom:1rem;
                    text-align:center;
                }
                &-heading>span{
                    display: block;
                }
    
            
                &-para1,&-para2{
                    text-align: center;
                    font-family: "Poppins";
                    font-size:10px;
                    font-weight:200;
                }
                &-para1{
                    padding-bottom:0.5rem;
                }
            }
            
        }
        &-image{
            max-width:100vw;
            min-height:400%;
            background:rgb(36, 12, 12);
            top:0;
            left:0;
            z-index:0;
            transform:translateY(0);
            transition:all 1.5s ease-in;
            display:flex;
            flex-direction:column;
            align-items:flex-end;
            justify-content: flex-end;
        }
        
        &-image img{
            display:inline-block;
            width:100%;
            height:calc(100%);
            object-fit:contain;
            z-index:1;
            overflow-x:hidden;
        }
        
    }
    
    .CoinRain{
       transform:translateY(0);
    }
}


@media(max-width:770px){
    .CurrencySection5{
        height:calc(100vh - 80px - 180px);
        display:flex;
        flex-direction: column;
        max-width:100vw;
        z-index:0;
    
        &-overlay{
            opacity:0;
            z-index:1;
        }
        &-about{
            background:#8CC63F;
            flex-basis:50%;
            width:100%;
            min-height:50%;
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            color: white;
            text-align:center;
            padding-left:60px;
            padding-right:60px;
            &-text{
                z-index:2;
    
                &-heading{
                    font-family: "Monserrat";
                    font-size:28px;
                    font-weight:300;
                    padding-bottom:1rem;
                    text-align:center;
                }
                &-heading>span{
                    display: block;
                }
    
            
                &-para1,&-para2{
                    text-align: center;
                    font-family: "Poppins";
                    font-size:10px;
                    font-weight:200;
                }
                &-para1{
                    padding-bottom:0.5rem;
                }
            }
            
        }

        &-textBlock{
            display:none;
        }
        &-image{
            flex-basis:50%;
            max-height:50%;
            max-width:100%;
            min-height:50%;
            background:rgb(36, 12, 12);
            top:0;
            left:0;
            z-index:0;
            transform:translateY(0);
        }        
        &-image img:nth-child(0){
            display:inline-block;
            min-width:100%;
            height:50%;
            object-fit:cover;
            z-index:0;
            overflow-x:hidden;
        }
        &-image img:nth-child(1),
        &-image img:nth-child(2),
        &-image img:nth-child(3){
            display: none;
        }
        
    }
   
}

@media(max-width:570px){
    .CurrencySection5{
        height:calc(70vh - 80px );
        display:flex;
        flex-direction: column;
        max-width:100vw;
        position:relative;
    
        
        &-about{
            background:#8CC63F;
            flex-basis:50%;
            width:100%;
            height:50%;
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            color: white;
            text-align:center;
            
            &-text{
                z-index:2;
    
                &-heading{
                    font-family: "Monserrat";
                    font-size:0.875rem;
                    font-weight:300;
                    padding-bottom:1rem;
                    text-align:center;
                }
                &-heading>span{
                    display: inline-block;
                }
    
            
                &-para1,&-para2{
                    text-align: center;
                    font-size:0.5rem;
                }
                &-para1{
                    padding-bottom:0.5rem;
                }
            }
            
        }

      
        
    }
   
}

@media(max-width:370px){
    .CurrencySection5{
        height:calc(70vh - 80px );
        display:flex;
        flex-direction: column;
        max-width:100vw;
        position:relative;
    
       
        &-about{
            background:#8CC63F;
            flex-basis:50%;
            width:100%;
            height:50%;
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            color: white;
            text-align:center;
            padding-left:15px;
            padding-right:15px;
            
            &-text{
                z-index:2;
    
                &-heading{
                    font-family: "Monserrat";
                    font-size:0.875rem;
                    font-weight:300;
                    padding-bottom:1rem;
                    text-align:center;
                }
                &-heading>span{
                    display: inline-block;
                }
    
            
                &-para1,&-para2{
                    text-align: center;
                    font-size:0.5rem;
                }
                &-para1{
                    padding-bottom:0.5rem;
                }
            }
            
        }

      
        
    }
   
}