$Section1_height: calc(100vh - 80px);
$Section1_padding:90px;
$Section1_heading_font:36px;

.Section1Today {
  display: flex;
  width: 100%;
  height: $Section1_height;
  position:relative;

  &-picture {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;

    &-earth {
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      display:flex;
      justify-content: center;
      align-items:flex-end;
      padding-bottom:20%;
    }
    &-earth >img{
      width:60%;
      height:60%;
    }

    &-top {
      height: 65%;
      background: #145629;
    }

    &-bottom {
      height: 35%;
      background: #adcb4f;
    }
  }

  &-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #8ABB2A;
    color:white;
    &-heading{
        // font-size:36px;
        font-size:$Section1_heading_font;
        font-family:'Monserrat';
        font-weight:250;
        padding-bottom:2rem;
    }

    &-para{
        font-size:12px;
        font-family:'poppins';
        font-weight:200;
        padding-left:$Section1_padding;
        padding-right:$Section1_padding;
        &-text1{
            padding-bottom:1rem;
        }
    }

   }
}


@media (max-width: 950px) {
  $Section1_height: calc(100vh - 80px);

  .Section1Today {
    // display: flex;
    // width: 100%;
    height: $Section1_height;
    position:relative;
  
    &-picture {
      width: 50%;
      display: flex;
      flex-direction: column;
      position: relative;
  
      &-earth {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items:flex-end;
        padding-bottom:20%;
      }
      &-earth >img{
        width:60%;
        height:60%;
      }
      &-top {
        height: 65%;
        background: #145629;
      }
  
      &-bottom {
        height: 35%;
        background: #adcb4f;
      }
    }
  
    &-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #8ABB2A;
      &-heading{
          font-size:30px;
          font-family:'Monserrat';
          font-weight:250;
          padding-bottom:2rem;
          text-align:center;
      }
  
      &-para{
          font-size:10px;
          font-family:'poppins';
          font-weight:200;
          padding-left:60px;
          padding-right:60px;
          &-text1{
              padding-bottom:1rem;
          }
      }
  
     }
  }
  
}

@media (max-width: 850px) {
  
  .Section1Today {
    // display: flex;
    // width: 100%;
    height: $Section1_height;
    position:relative;
  
    &-picture {
      width: 50%;
      display: flex;
      flex-direction: column;
      position: relative;
  
      &-earth {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items:flex-end;
        padding-bottom:20%;
      }
      &-earth >img{
        width:60%;
        height:60%;
      }
  
      &-top {
        height: 65%;
        background: #145629;
      }
  
      &-bottom {
        height: 35%;
        background: #adcb4f;
      }
    }
  
    &-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #8ABB2A;
      color:white;
      &-heading{
          font-size:28px;
          font-family:'Monserrat';
          font-weight:250;
          padding-bottom:2rem;
          text-align:center;
      }
  
      &-para{
          font-size:10px;
          font-family:'poppins';
          font-weight:200;
          padding-left:60px;
          padding-right:60px;
          &-text1{
              padding-bottom:1rem;
          }
      }
  
     }
  }
}

@media (max-width: 770px) {
  .Section1Today {
    display: flex;
    width: auto;
    flex-direction: column;
    height: $Section1_height;
    
    &-picture {
      width: 100%;
      height:50%;
      flex-basis:50%;
      display: flex;
      flex-direction: column;
      position: relative;
  
      &-earth { 
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items:flex-end;
        // padding-bottom:20%;
      }
      &-earth >img{
        width:60%;
        height:80%;
      }
  
      &-top {
        height: 65%;
        background: #145629;
      }
  
      &-bottom {
        height: 35%;
        background: #adcb4f;
      }
    }
  
    &-info {
      width: 100%;
      height:50%;
      flex-basis:50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #8ABB2A;
      color:white;
      text-align:center;
      &-heading{
          // font-size:25px;
          font-family:'Monserrat';
          font-weight:250;
          padding-bottom:2rem;
      }
  
      &-para{
          font-size:10px;
          font-family:'poppins';
          font-weight:200;
          padding-left:60px;
          padding-right:60px;
          &-text1{
              padding-bottom:1rem;
          }
      }
  
     }
  }
}


@media(max-width:570px){
  $Section1_height: calc(75vh - 80px);
  .Section1Today {
    display: flex;
    width: auto;
    flex-direction: column;
    height: $Section1_height;
    
    &-picture {
      width: 100%;
      height:40%;
      flex-basis:40%;
      display: flex;
      flex-direction: column;
      position: relative;
  
      &-earth { 
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items:flex-end;
        padding-bottom:5%;
      }
      &-earth >img{
        width:60%;
        height:90%;
      }
  
      &-top {
        height: 65%;
        background: #145629;
      }
  
      &-bottom {
        height: 35%;
        background: #adcb4f;
      }
    }
  
    &-info {
      width: 100%;
      height:70%;
      flex-basis:70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #8ABB2A;
      color:white;
      text-align:center;
      &-heading{
          font-size:14px;
          font-family:'Monserrat';
          font-weight:250;
          padding-bottom:1rem;
      }
  
      &-para{
          font-size:8px;
          font-family:'poppins';
          font-weight:200;
          padding-left:50px;
          padding-right:50px;
          &-text1{
              padding-bottom:1rem;
          }
      }
  
     }
  }
}


@media(max-width:370px){

  $Section1_height: calc(75vh - 80px);

  .Section1Today {
    height: $Section1_height;
    
    &-picture {
      height:40%;
      flex-basis:40%;
      display: flex;
  
      &-earth { 
        bottom:0;
        left:0;
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items:flex-end;
        padding-bottom:5%;
      }
      &-earth >img{
        width:60%;
        height:90%;
      }
  
      &-top {
        height: 65%;
        background: #145629;
      }
  
      &-bottom {
        height: 35%;
        background: #adcb4f;
      }
    }
  
    &-info {
      width: 100%;
      height:70%;
      flex-basis:70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #8ABB2A;
      color:white;
      text-align:center;
      &-heading{
          font-size:14px;
          font-family:'Monserrat';
          font-weight:250;
          padding-bottom:1rem;
      }
  
      &-para{
          font-size:8px;
          font-family:'poppins';
          font-weight:200;
          padding-left:15px;
          padding-right:15px;
          &-text1{
              padding-bottom:0.5rem;
          }
      }
  
     }
  }
}
