$Section2_height:  calc(100vh - 80px);
$Section2_padding:90px;
$Section2_heading_font:1.75rem;

.Section2Today {
  display: flex;
  width: 100%;
  height: $Section2_height;
  position:relative;

  &-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5FAF42;
    color:black;
    &-heading{
        font-size:$Section2_heading_font;
        font-family:'Monserrat';
        font-weight:250;
        padding-bottom:2rem;
        padding-left:$Section2_padding;
        align-self:flex-start;
    }

    &-para{
        font-size:0.75rem;
        font-family:'poppins';
        font-weight:200;
        padding-left:$Section2_padding;
        padding-right:$Section2_padding;
        &-text1{
            padding-bottom:1rem;
        }
    }

   }

  &-picture {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;

    &-earth {
      position: absolute;
      top: 20%;
      left: 30%;
      width: 50%;
      height: 60%;
    }

    &-top {
      height: 50%;
      background: #5DBC58;
    }

    &-bottom {
      height: 50%;
      background: #EDE139;
    }
  }

 
}


@media(min-width:1500px){
  $Section2_height:  calc(100vh - 80px);
$Section2_padding:120px;
$Section2_heading_font:2rem;

.Section2Today {
  display: flex;
  width: 100%;
  height: $Section2_height;
  position:relative;

  &-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5FAF42;
    color:black;
    &-heading{
        font-size:$Section2_heading_font;
        font-family:'Monserrat';
        font-weight:250;
        padding-bottom:2rem;
        padding-left:$Section2_padding;
        align-self:flex-start;
    }

    &-para{
        font-size:1rem;
        font-family:'poppins';
        font-weight:200;
        padding-left:$Section2_padding;
        padding-right:$Section2_padding;
        &-text1{
            padding-bottom:0rem;
        }
    }

   }

  &-picture {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;

    &-earth {
      position: absolute;
      top: 20%;
      left: 30%;
      width: 50%;
      height: 60%;
    }

    &-top {
      height: 50%;
      background: #5DBC58;
    }

    &-bottom {
      height: 50%;
      background: #EDE139;
    }
  }

 
}

}

@media (max-width: 950px){


  .Section2Today {
    display: flex;
    width: 100%;
    height: $Section2_height;
    position:relative;
  
    &-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #5FAF42;
      color:black;
      text-align:center;
      padding-left:60px;
      padding-right:60px;
      &-heading{
          font-size:1.75rem;
          font-family:'Monserrat';
          font-weight:250;
          padding-bottom:1rem;
          padding-left:0px;
          align-self:flex-start;
          text-align:center;
      }
  
      &-para{
          font-size:10px;
          font-family:'poppins';
          font-weight:200;
          padding-left:0px;
          padding-right:0px;
          &-text1{
              padding-bottom:1rem;
          }
      }
  
     }
  
    &-picture {
      width: 50%;
      display: flex;
      flex-direction: column;
      position: relative;
  
      &-earth {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 70%;
        height: 60%;
      }
  
      &-top {
        height: 50%;
        background: #5DBC58;
      }
  
      &-bottom {
        height: 50%;
        background: #EDE139;
      }
    }
  
   
  }
    
}

@media (max-width: 850px){
  

  .Section2Today {
    display: flex;
    width: 100%;
    height: $Section2_height;
  
    &-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #5FAF42;
      color:black;
      padding-left:60px;
      padding-right:60px;
      &-heading{
          font-size:1.75rem;
          font-family:'Monserrat';
          font-weight:250;
          padding-bottom:1rem;
          align-self:flex-start;
          text-align:center;
      }
  
      &-para{
          font-size:10px;
          font-family:'poppins';
          font-weight:200;
          &-text1{
              padding-bottom:1rem;
          }
      }
  
     }
  
    &-picture {
      width: 50%;
      display: flex;
      flex-direction: column;
      position: relative;
  
      &-earth {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 70%;
        height: 60%;
      }
  
      &-top {
        height: 50%;
        background: #5DBC58;
      }
  
      &-bottom {
        height: 50%;
        background: #EDE139;
      }
    }
  
   
  }
}

@media (max-width: 770px){
  
  .Section2Today {
    display: flex;
    width: auto;
    flex-direction: column-reverse;
    height: $Section2_height;
  
    &-info {
      width: 100%;
      flex-basis:50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #5FAF42;
      color:black;
      padding-left:60px;
      padding-right:60px;
      &-heading{
          // font-size:30px;
          font-family:'Monserrat';
          font-weight:250;
          padding-bottom:1rem;
          align-self:center;
      }
  
      &-para{
          // font-size:10px;
          font-family:'poppins';
          font-weight:200;
          &-text1{
              padding-bottom:1rem;
          }
      }
  
     }
  
    &-picture {
      width: 100%;
      flex-basis:50%;
      display: flex;
      flex-direction: column;
      position: relative;
  
      &-earth {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 70%;
        height: 60%;
      }
  
      &-top {
        height: 50%;
        background: #5DBC58;
      }
  
      &-bottom {
        height: 50%;
        background: #EDE139;
      }
    }
  
   
  }
}


@media(max-width:570px){

  $Section2_height:  calc(75vh - 80px);
  .Section2Today {
    display: flex;
    width: auto;
    flex-direction: column-reverse;
    height: $Section2_height;
  
    &-info {
      width: 100%;
      height:60%;
      flex-basis:60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left:50px;
      padding-right:50px;
      &-heading{
          font-size:0.75rem;
          font-family:'Monserrat';
          font-weight:250;
          padding-bottom:1rem;
          text-align:center;

      }
  
      &-para{
          font-size:0.5rem;
          font-family:'poppins';
          font-weight:200;
          &-text1{
              padding-bottom:1rem;
          }
      }
  
     }
  
    &-picture {
      width: 100%;
      height:40%;
      flex-basis:40%;
      display: flex;
      flex-direction: column;
      position: relative;
  
      &-earth {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 70%;
        height: 60%;
      }
  
      &-top {
        height: 50%;
        background: #5DBC58;
      }
  
      &-bottom {
        height: 50%;
        background: #EDE139;
      }
    }
  
   
  }
}


@media(max-width:370px){
  $Section2_height:  calc(75vh - 80px);
  .Section2Today {
    display: flex;
    width: auto;
    flex-direction: column-reverse;
    height: $Section2_height;
  
    &-info {
      width: 100%;
      height:60%;
      flex-basis:60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left:15px;
      padding-right:15px;
      &-heading{
          font-size:0.75rem;
          font-family:'Monserrat';
          font-weight:250;
          padding-bottom:1rem;
          text-align:center;

      }
  
      &-para{
          font-size:0.5rem;
          font-family:'poppins';
          font-weight:200;
          &-text1{
              padding-bottom:0.5rem;
          }
      }
  
     }
  
    &-picture {
      width: 100%;
      height:40%;
      flex-basis:40%;
      display: flex;
      flex-direction: column;
      position: relative;
  
      &-earth {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 70%;
        height: 60%;
      }
  
      &-top {
        height: 50%;
        background: #5DBC58;
      }
  
      &-bottom {
        height: 50%;
        background: #EDE139;
      }
    }
  
   
  }
}

