.TerroirSection1{
    display:flex;
    max-width:100vw;
    height:calc(100vh - 80px);
    position:relative;
    // scroll-snap-align: start;

    &-left{
        flex-basis:70%;
    }
    &-left img{
        width:100%;
        object-fit: cover;
        object-position: center;
        height:100%;
    }
    &-right{
        flex-basis:30%;
        background-color:#DAD800;
    }
    &-text{
        position:absolute;
        top:15%;
        right:15%;
        font-family:'Monserrat';
        font-weight: 300;
        font-size:46px;
        color:#145629;
    }
    &-text span{
        display:block;
        text-align:center;
    }
}

.TerroirDescription{
    background:#EBEBEB;
    color:#1A1818;
    // height:350px;
    display:flex;
    justify-content: center;
    align-items:center;
    padding-left:30%;
    padding-right:30%;
    padding-top:5%;
    padding-bottom:5%;
    font-family: 'poppins';
    font-weight:200;
    font-size:12px;
}
.TerroirDescription p{
    text-align: center;
}
.TerroirDescription span{
    // display:block;
}

@media(min-width:1500px){
 
.TerroirDescription{
   
    padding-left:30%;
    padding-right:30%;
    padding-top:5%;
    padding-bottom:5%;
    font-size:1rem;
}   
}

@media(min-width:1750px){
    .TerroirSection1-text{
        right:20%;
    }
}

@media(max-width:900px){
    .TerroirSection1{
        display:flex;
        width:100%;
        height:calc(80vh - 80px);
    
        &-left{
            flex-basis:70%;
        }
        &-left img{
            object-fit: cover;
            object-position: center;
        }
        &-right{
            flex-basis:30%;
        }
        &-text{
            position:absolute;
            top:15%;
            right:10%;
            font-size:40px;
        }
        &-text span{
            display:block;
            text-align:center;
        }
    }
    
    .TerroirDescription{
        // height:350px;
        display:flex;
        justify-content: center;
        align-items:center;
        padding-left:25%;
        padding-right:25%;
        padding-top:5%;
        padding-bottom:5%;
        font-size:10px;
    }
    .TerroirDescription p{
        text-align: center;
    }

}


@media(max-width:770px){
    .TerroirSection1{
        display:flex;
        width:100%;
        height:calc(80vh - 80px);
    
        &-left{
            flex-basis:70%;
        }
        &-left img{
            object-fit: cover;
            object-position: center;
        }
        &-right{
            flex-basis:30%;
        }
        &-text{
            position:absolute;
            top:15%;
            right:10%;
            font-size:35px;
        }
        &-text span{
            display:block;
            text-align:center;
        }
    }
    
    .TerroirDescription{
        // height:350px;
        display:flex;
        justify-content: center;
        align-items:center;
        padding-left:60px;
        padding-right:60px;
        padding-top:5%;
        padding-bottom:5%;
        font-size:10px;
    }
    .TerroirDescription p{
        text-align: center;
    }

}

@media(max-width:570px){
    .TerroirSection1{
        display:flex;
        min-width:100vw;
        height:calc(50vh - 80px);
        &-left{
            flex-basis:70%;
        }
        &-left img{
            object-fit: cover;
            object-position: center;
        }
        &-right{
            flex-basis:30%;
        }
        &-text{
            position:absolute;
            top:15%;
            right:10%;
            font-size:24px;
        }
        &-text span{
            display:block;
            text-align:center;
        }
    }
    
    .TerroirDescription{
        // height:350px;
        width:100vw;
        display:flex;
        justify-content: center;
        align-items:center;
        padding-left:90px;
        padding-right:90px;
        padding-top:5%;
        padding-bottom:5%;
        font-size:8px;
    }
    .TerroirDescription p{
        text-align: center;
    }

}


@media(max-width:370px){
    .TerroirSection1{
        display:flex;
        width:100%;
        height:calc(50vh - 80px);
    
        &-left{
            flex-basis:70%;
        }
        &-left img{
            object-fit: cover;
            object-position: center;
        }
        &-right{
            flex-basis:30%;
        }
        &-text{
            position:absolute;
            top:15%;
            right:10%;
            font-size:24px;
        }
        &-text span{
            display:block;
            text-align:center;
        }
    }
    
    .TerroirDescription{
        // height:350px;
        display:flex;
        justify-content: center;
        align-items:center;
        padding-left:15px;
        padding-right:15px;
        padding-top:5%;
        padding-bottom:5%;
        font-size:8px;
    }
    .TerroirDescription p{
        text-align: center;
    }

}