$Section4_heading_font:28px;
$Section4_padding:90px;

.TerroirSection4{
    height:calc(100vh - 80px);
    width:100%;
    display:flex;
    background:#5FAF42;

    &-left{
        flex-basis:50%;
    }
    &-left img{
        width:100%;
        height:100%;
        object-fit: cover;
        background-position: center;
    }

    &-right{
        flex-basis: 50%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        padding-left:$Section4_padding;
        padding-right:$Section4_padding;

        &-heading{
            font-family: "Monserrat";
            font-size:$Section4_heading_font;
            font-weight:300;
            text-align:center;
            color:white;
            padding-bottom:1rem;
        }
        &-heading span{
            display:block;
        }
        &-para{
            font-family: "Poppins";
            font-size:12px;
            font-weight:200;
            text-align:center;
            color:white;
        }
    }

}