$Section3_height:  calc(100vh - 80px);
$Section3_heading_font:16px;
$Section3_padding:15%;

.Section3Change {
  display: flex;
  width: 100%;
  height: $Section3_height;
  position:relative;
  scroll-snap-align: start;

  &-picture {
    width: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    background:#FFE815;

    &-earth {
    
      width: 50%;
      height: 50%;
    }

  }

  &-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    background: #5DBC58;
    color:white;
    &-heading{
        font-size:$Section3_heading_font;
        font-family:'Monserrat';
        font-weight:300;
        padding-bottom:1rem;
        padding-left:$Section3_padding;
        padding-right:$Section3_padding;
        
    }

    &-para{
        font-size:12px;
        font-family:'poppins';
        font-weight:200;
        padding-left:$Section3_padding;
        padding-right:$Section3_padding;
        &-text1{
            padding-bottom:1rem;
        }
        &-text2{
            padding-bottom:1rem;
        }
        &-text3{
          font-family: 'Monserrat';
          font-weight: 300;
          font-size:$Section3_heading_font;
          padding-bottom:1rem;
        }
    }

   }
}

@media(min-width:1500px){
  $Section3_height:  calc(100vh - 80px);
  $Section3_heading_font:20px;
  $Section3_padding:20%;

.Section3Change {
  display: flex;
  width: 100%;
  height: $Section3_height;
  position:relative;

  &-picture {
    width: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    background:#FFE815;

    &-earth {
    
      width: 50%;
      height: 50%;
    }

  }

  &-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    background: #5DBC58;
    color:white;
    &-heading{
        font-size:$Section3_heading_font;
        font-family:'Monserrat';
        font-weight:300;
        padding-bottom:1rem;
        padding-left:$Section3_padding;
        
    }

    &-para{
        font-size:1rem;
        font-family:'poppins';
        font-weight:200;
        padding-left:$Section3_padding;
        padding-right:$Section3_padding;
        &-text1{
            padding-bottom:1rem;
        }
        &-text2{
            padding-bottom:1rem;
        }
        &-text3{
          font-family: 'Monserrat';
          font-weight: 300;
          font-size:$Section3_heading_font;
          padding-bottom:1rem;
        }
    }

   }
}

}


@media(max-width:900px){
  $Section3_height:  calc(100vh - 80px);

.Section3Change {
  display: flex;
  width: 100%;
  height: $Section3_height;

  &-picture {
    width: 50%;
    display: flex;
    justify-content:center;
    align-items:center;

    &-earth {
      width: 50%;
      height: 50%;
    }

  }

  &-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-heading{
        padding-bottom:1rem;
    }

    &-para{
        font-size:10px;
        &-text1{
            padding-bottom:1rem;
        }
        &-text2{
            padding-bottom:1rem;
        }
        &-text3{
          padding-bottom:1rem;
        }
    }

   }
  }
}


@media(max-width:770px){
  $Section3_height:  calc(100vh - 80px);

.Section3Change {
  display: flex;
  width: auto;
  flex-direction: column;
  height: $Section3_height;

  &-picture {
    width: 100%;
    display: flex;
    height:50%;
    flex-basis:50%;
    justify-content:center;
    align-items:center;

    &-earth {
      width: 50%;
      height: 50%;
    }

  }

  &-info {
    width: 100%;
    display: flex;
    height:50%;
    flex-basis:50%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &-heading{
        padding-bottom:1rem;
    }

    &-para{
        font-size:10px;
        &-text1{
            padding-bottom:0.5rem;
        }
        &-text2{
            padding-bottom:0.5rem;
        }
        &-text3{
          padding-bottom:0.5rem;
        }
    }

   }
  }
}


@media(max-width:570px){
  $Section3_height:  calc(95vh - 80px);

.Section3Change {
  display: flex;
  width: auto;
  flex-direction: column;
  height: $Section3_height;

  &-picture {
    width: 100%;
    display: flex;
    height:45%;
    flex-basis:45%;
    justify-content:center;
    align-items:center;

    &-earth {
      width: 50%;
      height: 50%;
    }

  }

  &-info {
    width: 100%;
    display: flex;
    height:55%;
    flex-basis:55%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &-heading{
        font-size:12px;
        font-weight:300;
        padding-bottom:1rem;
        padding-left:60px;
    }

    &-para{
        font-size:0.5rem;
        padding-left:60px;
        padding-right:60px;
        &-text1{
            padding-bottom:0.5rem;
        }
        &-text2{
            padding-bottom:0.5rem;
        }
        &-text3{
          font-size:12px;
          padding-bottom:0.5rem;
        }
    }

   }
  }
}

@media(max-width:370px){
  $Section3_height:  calc(95vh - 80px);

.Section3Change {
  display: flex;
  width: auto;
  flex-direction: column;
  height: $Section3_height;

  &-picture {
    width: 100%;
    display: flex;
    height:45%;
    flex-basis:45%;
    justify-content:center;
    align-items:center;

    &-earth {
      width: 50%;
      height: 50%;
    }

  }

  &-info {
    width: 100%;
    display: flex;
    height:55%;
    flex-basis:55%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &-heading{
        font-size:12px;
        font-weight:300;
        padding-bottom:1rem;
        padding-left:15px;
        padding-right:15px;
    }

    &-para{
        font-size:0.5rem;
        padding-left:15px;
        padding-right:15px;
        &-text1{
            padding-bottom:0.5rem;
        }
        &-text2{
            padding-bottom:0.5rem;
        }
        &-text3{
          font-size:12px;
          padding-bottom:0.5rem;
        }
    }

   }
  }
}