.Section8Values{
    height: calc(100vh - 80px);
    // width:100% !important;
    background:#EDE139;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    overflow-x:hidden;
    overflow-y: hidden;
    // position:relative;

    &-heading{
        // position:absolute;
        // width:100%;
        // height:100%;
        display:flex;
        // top:0;
        z-index:3;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        font-family:'Monserrat';
        font-weight:200;
        font-size:36px;
        // background:red;
        overflow: hidden;
        // overflow-y:hidden;
        // overflow:hidden !important;
    }
    &-cards{
        display:flex;
        align-items:center;
        justify-content:space-around;
        // padding-left: 50px;
        // padding-right:50px;
        overflow-x: auto;
        overflow-y: hidden;
    }
}


@media(max-width:1200px){
    .Section8Values{
        height: calc(100vh - 80px);
        display:flex;
        flex-direction: column;
        justify-content:space-around;
        
        &-heading{
            text-align: center;
            font-family:'Monserrat';
            font-weight:200;
            font-size:30px;
        }
        &-cards{
            display:flex;
            align-items:flex-start;
            justify-content:flex-start;
            overflow-x: auto !important;
            overflow-y: hidden !important;
        }
    }
       
}

@media(max-width:900px){
    .Section8Values{
        height: calc(100vh - 80px);
        display:flex;
        flex-direction: column;
        justify-content:space-around;
        
        &-heading{
            text-align: center;
            font-size:28px;
        }
        &-cards{
            display:flex;
            align-items:flex-start;
            justify-content:flex-start;
        }
    }
       
}

@media(max-width:570px){
    .Section8Values{
        height: calc(80vh - 80px);
        display:flex;
        flex-direction: column;
        justify-content:space-around;
        
        &-heading{
            text-align: center;
            font-size:18px;
        }
        &-cards{
            display:flex;
            align-items:flex-start;
            justify-content:flex-start;
        }
    }
       
}
