.Section8Values{
    height: calc(100vh - 80px - 180px);
    // width:100% !important;
    background:#EDE139;
    display:flex;
    flex-direction: column;
    justify-content:center;
    overflow-x:hidden;
    overflow-y: hidden;
    // position:relative;
    scroll-snap-align: start;


    &-heading{
        display:flex;
        // top:0;
        z-index:3;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        font-family:'Monserrat';
        font-weight:200;
        font-size:16px;
        padding-bottom:2rem;
        overflow: hidden;
    }
    &-cards{
        display:flex;
        align-items:center;
        justify-content:space-evenly;
        overflow-x: auto;
        overflow-y: hidden;
    }
    &-mobcards{
        display:none;
        align-items:center;
        justify-content:space-evenly;
        overflow-x: auto;
        overflow-y: hidden;
    }
}

@media(min-width:1500px){
    .Section8Values{
        height: calc(100vh - 80px - 200px);
        justify-content:center;
    
        &-heading{
            display:flex;
            justify-content: center;
            align-items: flex-start;
            text-align: center;
            font-family:'Monserrat';
            font-weight:200;
            font-size:20px;
            padding-bottom:2rem;
            overflow: hidden;
        }
        &-cards{
            display:flex;
            align-items:center;
            justify-content:space-evenly;
            overflow-x: auto;
            overflow-y: hidden;
        }
        &-mobcards{
            display:none;
            align-items:center;
            justify-content:space-evenly;
            overflow-x: auto;
            overflow-y: hidden;
        }
    }
}

@media(max-width:1200px){
    .Section8Values{
        height: calc(100vh - 80px - 180px);
        display:flex;
        flex-direction: column;
        justify-content:center;
        
        &-heading{
            text-align: center;
            font-family:'Monserrat';
            font-weight:200;
            font-size:16px;
            padding-bottom:1rem;
        }
        &-cards{
            display:flex;
            align-items:flex-start;
            justify-content:flex-start;
            overflow-x: auto !important;
            overflow-y: hidden !important;
        }
    }
       
}

@media(max-width:900px){
    .Section8Values{
        height: calc(100vh - 80px -180px);
        display:flex;
        flex-direction: column;
        justify-content:center;
        
        &-heading{
            text-align: center;
        }
        &-cards{
            display:flex;
            align-items:flex-start;
            justify-content:flex-start;
        }
    }
       
}

@media(max-width:570px){
    .Section8Values{
        height: auto;
        display:flex;
        flex-direction: column;
        justify-content:center;
        padding-top:5%;
        padding-bottom:5%;
        
        &-heading{
            text-align: center;
            font-size:14px;
        }
        &-cards{
            display:flex;
            align-items:flex-start;
            justify-content:flex-start;
            display:none;
        }
        &-mobcards{
            display:flex;
            align-items:flex-start;
            justify-content:flex-start;
        }
    }
       
}
