$Section1_height: 450px;

.Section1Change {
  display: flex;
  width: 100%;
  height: $Section1_height;
  position:relative;

  &-picture {
    width: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    background:#A1D8D8;

    &-earth {
    
      width: 60%;
      height: 60%;
    }

  }

  &-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ADCB4F;
    color:white;
    &-heading{
        font-size:36px;
        font-family:'Monserrat';
        font-weight:300;
        padding-bottom:2rem;
    }

    &-para{
        font-size:14px;
        font-family:'poppins';
        font-weight:200;
        padding-left:40px;
        padding-right:40px;
        &-text1{
            padding-bottom:1rem;
        }
        &-text2{
          font-family: 'Monserrat';
          font-weight: 300;
          font-size:30px;
          padding-bottom:1rem;
        }
    }

   }
}


// remove all queries
@media (max-width: 1000px) {
  $Section2_height: 420px;

  .Section2 {
    height: $Section2_height;

    &-picture {
      width: 45%;

      &-earth {
        top: 10%;
        left: 20%;
        width: 60%;
        height: 80%;
      }

      &-top {
        height: 65%;
        background: #145629;
      }

      &-bottom {
        height: 35%;
        background: #adcb4f;
      }
    }

    &-info {
      width: calc(100% - 45%);

      &-top {
        &-imagewithText {
          // background: red;
          padding-left: 20px;
          padding-top: 40px;
        }
        &-image {
          max-width: 120px;
        }
        &-text {
          font-size: 28px;
        }
      }
      &-bottom {
        padding-left: 25px;
        padding-top: 15px;
        padding-right: 7%;
        &-bigText1,
        &-bigText2 {
          font-size: 14px;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 726px) {
  $Section2_height: 350px;

  .Section2 {
    height: $Section2_height;

    &-picture {
      width: 45%;

      &-earth {
        top: 10%;
        left: 20%;
        width: 60%;
        height: 80%;
      }

      &-top {
        height: 65%;
      }

      &-bottom {
        height: 35%;
      }
    }

    &-info {
      width: calc(100% - 45%);

      &-top {
        &-imagewithText {
          // background: red;
          padding-left: 20px;
          padding-top: 30px;
        }
        &-image {
          max-width: 110px;
        }
        &-text {
          font-size: 24px;
        }
      }
      &-bottom {
        padding-left: 25px;
        padding-top: 15px;
        padding-right: 7%;
        &-bigText1 {
          font-size: 14px;
        }
        &-bigText2 {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 526px) {
  $Section2_height: 200px;

  .Section2 {
    height: $Section2_height;

    &-picture {
      width: 45%;

      &-earth {
        top: 10%;
        left: 20%;
        width: 60%;
        height: 80%;
      }

      &-top {
        height: 65%;
      }

      &-bottom {
        height: 35%;
      }
    }

    &-info {
      width: calc(100% - 45%);

      &-top {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        &-imagewithText {
          // background: red;
          padding-left: 0px;
          padding-top: 0px;
          padding-bottom: 5px;
        }
        &-image {
          display: none;
        }
        &-text {
          font-size: 24px;
        }
      }
      &-bottom {
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 5%;
        &-bigText1 {
          font-size: 13px;
        }
        &-bigText2 {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 410px) {
  $Section2_height: 180px;

  .Section2 {
    height: $Section2_height;

    &-picture {
      width: 42%;

      &-earth {
        top: 10%;
        left: 20%;
        width: 60%;
        height: 80%;
      }

      &-top {
        height: 65%;
      }

      &-bottom {
        height: 35%;
      }
    }

    &-info {
      width: calc(100% - 42%);

      &-top {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        &-imagewithText {
          // background: red;
          padding-left: 0px;
          padding-top: 0px;
          padding-bottom: 5px;
        }
        &-image {
          display: none;
        }
        &-text {
          font-size: 22px;
        }
      }
      &-bottom {
        padding-left: 18px;
        padding-top: 7px;
        padding-right: 3%;
        &-bigText1 {
          font-size: 11px;
          line-height: 0.8px;
        }
        &-bigText2 {
          display: none;
        }
      }
    }
  }
}
