.EconomicCard{
    width:280px;
    height:380px;
    // background:red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'poppins';
    font-weight:200;
    font-size:12px;
    color:#707070;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    opacity: 1;
    padding-left:25px;
    padding-right:25px;
    margin-bottom:40px;

    &-image >img{
        width: 200px;
        height:200px;
    }
    &-content{
        color:white;
        text-align: center;
    }
}

@media(max-width:970px){
    .EconomicCard{
        width:280px;
        height:380px;
        // background:red;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size:12px;
        padding-left:25px;
        padding-right:25px;
        margin-bottom:40px;
        margin-left:25px;
        margin-right:25px;
        
        &-image >img{
            width: 200px;
            height:200px;
        }
        &-content{
            color:white;
            text-align: center;
        }
    }
}

@media(max-width:570px){
    .EconomicCard{
        width:240px;
        height:380px;
        // background:red;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size:8px;
        padding-left:25px;
        padding-right:25px;
        margin-bottom:40px;
        margin-left:25px;
        margin-right:25px;
        
        &-image >img{
            width: 200px;
            height:200px;
        }
        &-content{
            color:white;
            text-align: center;
        }
    }
}