.CitySection4{
    background:#DAD800;
    padding-top:50px;
    padding-bottom:50px;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align:center;
    padding-left:30%;
    padding-right:30%;
    height:calc(50vh - 40px);

    &-heading{
        font-family: "Monserrat";
        font-size:30px;
        font-weight:300;
        padding-bottom:1rem;
        text-align:center;
    }
    &-para{
        text-align: center;
        font-family: "Poppins";
        font-size:12px;
        font-weight:200;
    }
}

@media(max-width:900px){
    .CitySection4{
        padding-top:50px;
        padding-bottom:50px;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align:center;
        padding-left:20%;
        padding-right:20%;
        height:calc(50vh - 40px);
    
        &-heading{
            font-size:28px;
            font-weight:300;
            padding-bottom:1rem;
            text-align:center;
        }
        &-para{
            text-align: center;
            font-size:10px;
        }
    }
}

@media(max-width:770px){
    .CitySection4{
        padding-top:50px;
        padding-bottom:50px;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align:center;
        padding-left:50px;
        padding-right:50px;
        height:calc(50vh - 40px);
    
        &-heading{
            font-size:28px;
            font-weight:300;
            padding-bottom:1rem;
            text-align:center;
        }
        &-para{
            text-align: center;
            font-size:10px;
        }
    }
}

@media(max-width:570px){
    .CitySection4{
        padding-top:0%;
        padding-bottom:0%;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align:center;
        padding-left:50px;
        padding-right:50px;
        height:calc(30vh - 40px);
    
        &-heading{
            font-size:14px;
            font-weight:300;
            padding-bottom:1rem;
            text-align:center;
        }
        &-para{
            text-align: center;
            font-size:8px;
        }
    }
}


@media(max-width:370px){
    .CitySection4{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align:center;
        padding-left:15px;
        padding-right:15px;
    
        &-heading{
            font-size:14px;
            font-weight:300;
            padding-bottom:1rem;
            text-align:center;
        }
        &-para{
            text-align: center;
            font-size:8px;
        }
    }
}