$Section3_heading_font:28px;
$Section3_padding:90px;

.CitySection3{
    display:flex;
    background:#5FAF42;
    height:calc(50vh - 40px);
    &-left{
        flex-basis:50%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        // padding-left:60px;
        // padding-right:60px;
        position:relative;
        &-text{
            position: absolute;
            padding-left:$Section3_padding;
            padding-right:$Section3_padding;
            width:100%;
            height:100%;
            top:0;
            display:flex;
            flex-direction:column;
            // align-items:center;
            justify-content: center;
            text-align:center;
            &-heading{
                font-family: "Monserrat";
                font-size:$Section3_heading_font;
                font-weight:300;
                padding-bottom:1rem;
                text-align:center;
            }
            &-para{
                    text-align: center;
                    font-family: "Poppins";
                    font-size:12px;
                    font-weight:200;
                    transform:translateX(-150%);
                    transition:transform 0.7s ease;
                    
                &-para1,&-para2{
                    
                }
                &-para1{
                    padding-bottom:0.5rem;
                }
            }
        }
    }
    &-right{
        flex-basis:50%;
    }
    &-right >img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
}


// .CitySection3:hover .CitySection3-left-text-para1
//  {
//     transform:translateX(0);
// }

// .CitySection3:hover .CitySection3-left-text-para2
//  {
//     transform:translateX(0);
// }
.leftToRight{
    transform:translateX(0) !important;
}