@keyframes rightTOleft{
    0%{
        transform: translateX(150%);
    }
    100%{
        transform: translateX(0%);
    }
}

$Section1_padding:90px;

.CitySection1{
    display:flex;
    height:calc(100vh - 80px);
    width:100%;
    &-left{
        flex-basis:50%;
        
    }
    &-left img{
        width:100%;
        height:100%;
        object-fit:cover;
    }
    &-right{
        flex-basis:50%;
        background:#ADCB4F;
        color:#1A1818;
        position:relative;
        overflow-x: hidden;
        &-text{
            position: absolute;
            padding-left:$Section1_padding;
            padding-right:$Section1_padding;
            width:100%;
            height:100%;
            top:0;
            display:flex;
            flex-direction:column;
            justify-content: center;
            text-align:center;
            &-heading{
                color:black;
                font-family: "Monserrat";
                font-size:36px;
                font-weight:300;
                padding-bottom:2rem;
                text-align:center;
                
            }
            &-heading>span{
                display:block;
            }
            &-para{
                text-align: center;
                font-family: "Poppins";
                font-size:12px;
                font-weight:200;
                transform:translateX(0);
                transition:transform 0.7s ease;
                animation: rightTOleft 0.5s ease;
                &-para1,&-para2{
               
                }
                &-para1{
                    padding-bottom:1rem;
                }
            }

        
           
        }
    }

}

// .CitySection1:hover.CitySection1-right-text-para1
//  {
//     transform:translateX(0) ;
// }

// .CitySection1:hover,.CitySection1-right-text-para2
//  {
//     transform:translateX(0);
// }

.right_to_left{
    transform:translateX(0) !important;
}

@media(max-width:1250px){
    .CitySection1{
        display:flex;
        height:calc(80vh - 80px);
    
        &-left{
            flex-basis:50%;
        }
        &-left img{
            width:100%;
            height:100%;
        }
        &-right{
            flex-basis:50%;
            position:relative;
            overflow-x: hidden;
            &-text{
                position: absolute;
                padding-left:50px;
                padding-right:50px;
                width:100%;
                height:100%;
                top:0;
                display:flex;
                flex-direction:column;
                justify-content: center;
                text-align:center;
                &-heading{
                    font-size:30px;
                    padding-bottom:2rem;
                    text-align:center;
                }
                &-heading>span{
                    display:block;
                }
    
            
                &-para1,&-para2{
                    text-align: center;
                    font-family: "Poppins";
                    font-size:12px;
                    transform:translateX(150%);
                    transition:transform 0.7s ease;
                }
                &-para1{
                    padding-bottom:1rem;
                }
            }
        }
    
    }
    
    .CitySection1:hover .CitySection1-right-text-para1
     {
        transform:translateX(0);
    }
    
    .CitySection1:hover .CitySection1-right-text-para2
     {
        transform:translateX(0);
    }
    
}



@media(max-width:900px){

    .CitySection1-right-text-para1,
    .CitySection1-right-text-para2{
        font-size:10px;
    }
    .CitySection1-right-text-para1{
       padding-bottom:0.5rem;
    }
    .CitySection1-right-text-heading{
        padding-bottom:1rem;
    }
}

@media(max-width:770px){
    .CitySection1{
        display:flex;
        height:calc(100vh - 80px);
        flex-direction: column-reverse;
        width:auto;
    
        &-left{
            width: 100%;
            display: flex;
            height:50%;
            flex-basis:50%;
        }
        &-left img{
            width:100%;
            height:100%;
        }
        &-right{
            width: 100%;
            display: flex;
            height:50%;
            flex-basis:50%;
            position:relative;
            overflow-x: hidden;
            &-text{
                position: absolute;
                padding-left:50px;
                padding-right:50px;
                width:100%;
                height:100%;
                top:0;
                display:flex;
                flex-direction:column;
                justify-content: center;
                text-align:center;
                &-heading{
                    font-size:30px;
                    padding-bottom:1rem;
                    text-align:center;
                }
                &-heading>span{
                    display:block;
                }
    
            
                &-para1,&-para2{
                    text-align: center;
                    font-family: "Poppins";
                    font-size:10px;
                    transform:translateX(0);
                    transition:none;
                }
                &-para1{
                    padding-bottom:0.5rem;
                }
            }
        }
    
    }
    
    .CitySection1:hover .CitySection1-right-text-para1
     {
        transform:none;
    }
    
    .CitySection1:hover .CitySection1-right-text-para2
     {
        transform:none;
    }
    
}

@media(max-width:570px){
    .CitySection1{
        display:flex;
        height:calc(85vh - 80px);
        &-left{
            width: 100%;
            display: flex;
            height:50%;
            flex-basis:50%;
        }
        &-left img{
            width:100%;
            height:100%;
        }
        &-right{
            width: 100%;
            display: flex;
            height:50%;
            flex-basis:50%;
            &-text{
                padding-left:50px;
                padding-right:50px;
                width:100%;
                height:100%;
                top:0;
                display:flex;
                flex-direction:column;
                justify-content: center;
                text-align:center;
                &-heading{
                    font-size:12px;
                    padding-bottom:1rem;
                    text-align:center;
                }
                &-heading>span{
                    display:block;
                }
    
            
                &-para1,&-para2{
                    text-align: center;
                    font-size:8px;
                }
                &-para1{
                    padding-bottom:0.5rem;
                }
            }
        }
    
    }
       
}


@media(max-width:370px){
    .CitySection1{
        display:flex;
        height:calc(100vh - 80px);
        &-left{
            width: 100%;
            display: flex;
            height:50%;
            flex-basis:50%;
        }
        &-left img{
            width:100%;
            height:100%;
        }
        &-right{
            width: 100%;
            display: flex;
            height:50%;
            flex-basis:50%;
            &-text{
                padding-left:15px;
                padding-right:15px;
                width:100%;
                height:100%;
                top:0;
                display:flex;
                flex-direction:column;
                justify-content: center;
                text-align:center;
                &-heading{
                    font-size:12px;
                    padding-bottom:1rem;
                    text-align:center;
                }
                &-heading>span{
                    display:block;
                }
    
            
                &-para1,&-para2{
                    text-align: center;
                    font-size:8px;
                }
                &-para1{
                    padding-bottom:0.5rem;
                }
            }
        }
    
    }
       
}
