.CitySection3{
    display:flex;
    background:#5FAF42;

    &-left{
        flex-basis:50%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        padding-left:60px;
        padding-right:60px;

        &-heading{
            font-family: "Monserrat";
            font-size:30px;
            font-weight:300;
            padding-bottom:1rem;
            text-align:center;
        }
        &-para1,&-para2{
            text-align: center;
            font-family: "Poppins";
            font-size:12px;
            font-weight:200;
        }
        &-para1{
            padding-bottom:0.5rem;
        }
    }
    &-right{
        flex-basis:50%;
    }
    &-right >img{
        width:100%;
        height:100%;
    }
}