.CitySection5{
    background:#A1D8D8;
    display:flex;

    &-left{
        flex-basis:50%;
    }
    &-left >img{
        width:100%;
        height:100%;
    }
    &-text{
        flex-basis:50%;
        padding-left:50px;
        padding-right: 50px;
        padding-top:60px;
    }
    &-right{
        
        &-heading,&-para{
           
        }

        &-heading{
           font-family: "Monserrat";
           font-size:30px;
           font-weight:300;
           padding-bottom:1rem;
           text-align:center;
           overflow:none;
           white-space: nowrap;
       }
       &-para{
           text-align: center;
           font-family: "Poppins";
           font-size:12px;
           font-weight:200;
       }
    }

    &-last{
        padding-top:2rem;
        transform:translateY(150%);
        transition:transform 0.5s ease;
        &-heading{
            font-family: "Monserrat";
            font-size:30px;
            font-weight:300;
            padding-bottom:1rem;
            text-align:center;
            overflow:none;
            white-space: nowrap;
        }
        &-para{
            text-align: center;
            font-family: "Poppins";
            font-size:12px;
            font-weight:200;
        }
    }
}

.CitySection5:hover .CitySection5-last{
    transform: translate(0);
}