.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  z-index: 5;
  position: fixed;

  &-logo {
    height: inherit;
    background: #ebebeb;
    // border-bottom: solid 0.5px grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    padding-left: 1rem;
  }
  &-logo img {
    width: 120px;
  }
  &-menu {
    width: 50%;
    padding-right: 2rem;
    height: inherit;
    background: #8cc63f;
    // border-bottom: solid 0.5px grey;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-box {
      position: relative;
      z-index: 5;
      display: flex;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      // when the navbar toggler is off by default

      &-line2 {
        width: 28px;
        height: 5px;
        background: black;
        transform: translateX(0px);
        transition: all 0.5s ease-in-out;
      }

      &-line2::before,
      &-line2::after {
        content: "";
        position: absolute;
        width: 28px;
        height: 5px;
        background-color: black;
        transform: translateX(0px);
        transition: all 0.5s ease-in-out;
      }

      &-line2::before {
        transform: translateY(-10px);
      }

      &-line2::after {
        transform: translateY(10px);
      }

      // this is when the navbar toggler is open
      &-open {
        &-line2 {
          width: 28px;
          height: 5px;
          transition: all 0.5s ease-in-out;
          transform: translateX(-50px);
          background: transparent;
        }

        &-line2::before,
        &-line2::after {
          content: "";
          position: absolute;
          width: 28px;
          height: 5px;
          background-color: black;
          transition: all 0.5s ease-in-out;
          transform: translateX(0);
        }

        &-line2::before {
          transform: rotate(45deg) translate(35px, -35px);
        }

        &-line2::after {
          transform: rotate(-45deg) translate(35px, 35px);
        }
      }
    }

    &-menu > img {
      width: 30px;
      // height: 42px;
    }

    &-none {
      position: absolute;
      transform: translateX(200px);
      transition: all 0.5s ease-in-out;
      top:80px;
      right: -200px;
      z-index: -1;
      overflow:hidden;
      &-list {
        list-style-type: none;
        padding: 0px;
        width: 250px;
        cursor: pointer;
        height:calc(100vh - 80px);
        display:flex;
        flex-direction: column;
        justify-content:stretch; 
      }
      &-list li {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 100%;
        height:calc(100vh/3);
        font-family: "Monserrat";
        font-weight: 200;
        font-size: 16px;
        text-transform: uppercase;
      }
      &-list li:nth-child(1) {
  
        background: #afd466;
      }
      &-list li:nth-child(2) {
        background: #DAD800;
      }
      &-list li:nth-child(3) {
        background: #5FAF42;
      }
    }

    &-options {
      position: absolute;
      top: 80px;
      right: 0;
      background: white;
      transform: translateX(0px);
      transition: all 0.5s ease-in;
      z-index: -1;
      overflow:hidden;

      &-list {
        list-style-type: none;
        padding: 0px;
        width: 250px;
        cursor: pointer;
        height:calc(100vh - 80px);
        display:flex;
        flex-direction: column;
        justify-content:stretch; 
      }
      &-list li {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 100%;
        height:calc(100vh/3);
        font-family: "Monserrat";
        font-weight: 200;
        font-size: 16px;
        text-transform: uppercase;
      }
      &-list li:nth-child(1) {
  
        background: #afd466;
      }
      &-list li:nth-child(2) {
        background: #DAD800;
      }
      &-list li:nth-child(3) {
        background: #5FAF42;
      }
    }
  }
}
