$Footer-height: 200px;

// colors
$Light-Green: #8abb2a;
$Cloudy-White: #fafafa;
$Mustard-Yellow: #dad800;
$Pure-Yellow: #dad800;
$Yellowish-Green: #adcb4f;
$Pure-Green: #5faf42;

.Footer {
  height: $Footer-height;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  scroll-snap-align: center;
  position:relative;
  z-index:3;
  
  &-col1 {
    display: flex;
    justify-content:center;
    align-items:center;
    height: $Footer-height;
    flex-basis: 20%;
    background: $Mustard-Yellow;
  }

  &-col1 >button{
    padding-top:16px;
    padding-left: 12px;
    padding-top: 6px;
    padding-right: 18px;
    padding-bottom: 6px;
    margin-right: 16px;
    color: white;
    font-family: "Monserrat";
    font-weight: 250;
    font-size: 14px;
    background: #161615 0% 0% no-repeat padding-box;
    border: none;
    outline: none;
    border-radius: 6px;
    overflow: hidden;
    white-space: nowrap;

  }

  &-col2 {
    height: $Footer-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    flex-basis: 30%;
    background: $Pure-Green;
    font-family: "Monserrat";
    font-weight: 300;

    &-details {
      &-info {
        font-size: 16px;
        padding-bottom: 10px;
      }

      &-contact {
        padding-bottom: 8px;
        display: flex;
        img {
          width: 15px;
        }
      }

      &-contact > span {
        font-size: 14px;
        margin-left: 15px;
      }
    }
  }

  &-col3 {
    height: $Footer-height;
    flex-basis: 40%;
    font-family: "Monserrat";
    font-weight: 300;
    background:#5DBC58;
    display:flex;
    justify-content: center;
    align-items:center;

    &-row1 { 
      display: flex;
      flex-direction: column;
      // padding-left: 20px;
    }
    &-row1 p:nth-child(1) {
      text-transform: uppercase;
      font-size: 16px;
      padding-bottom: 12px;
    }
    &-row1 p {
      font-size: 14px;
      padding-bottom: 8px;
    }

  }
  &-col4 {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Pure-Yellow;

    &-logo {
      flex-basis: 200px;
    }
    &-logo > img {
      width: 100%;
    }
  }
}

@media (max-width: 1000px) {
  $Footer-height: 180px;

  .Footer {
    height: $Footer-height;
    &-col1 {
      display: flex;
      height: $Footer-height;
      flex-basis: 20%;

      &-row1 {
      }
      &-row2 {
      }
    }

    &-col2 {
      height: $Footer-height;
      padding-left: 18px;
      flex-basis: 30%;

      &-details {
        &-info {
          padding-bottom: 10px;
        }

        &-contact {
          padding-bottom: 8px;
        }

        &-contact > span {
          font-size: 14px;
          margin-left: 15px;
        }
      }
    }

    &-col3 {
      height: $Footer-height;
      flex-basis: 40%;
      &-row1 {
        padding-left: 20px;
      }
      &-row1 p:nth-child(1) {
        padding-bottom: 5px;
        text-transform: uppercase;
        font-size: 16px;
      }
      &-row1 p:nth-child(2) {
        font-size: 14px;
      }

      &-row2 {
        height: 50%;
        width: 100%;

        &-col1 {
          width: 80%;
          padding-left: 20px;
          font-size: 14px;
        }
        &-col2 {
          width: 50%;
        }
      }
    }
    &-col4 {
      flex-basis: 25%;
      background-color: $Pure-Yellow;

      &-logo {
        flex-basis: 150px;
      }
      &-logo > img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  $Footer-height: 180px;

  .Footer {
    height: $Footer-height;
    &-col1 {
      display: flex;
      height: $Footer-height;
      flex-basis: 15%;

      &-row1 {
      }
      &-row2 {
      }
    }

    &-col2 {
      height: $Footer-height;
      padding-left: 18px;
      flex-basis: 35%;

      &-details {
        &-info {
          padding-bottom: 10px;
        }

        &-contact {
          padding-bottom: 8px;
        }

        &-contact > span {
          font-size: 12px;
          margin-left: 10px;
        }
      }
    }

    &-col3 {
      height: $Footer-height;
      flex-basis: 40%;
      &-row1 {
        padding-left: 20px;
      }
      &-row1 p:nth-child(1) {
        padding-bottom: 5px;
        text-transform: lowercase;
        text-transform: capitalize;
        font-size: 16px;
      }
      &-row1 p {
        font-size: 14px;
      }

      &-row2 {
        height: 50%;
        width: 100%;

        &-col1 {
          width: 80%;
          padding-left: 20px;
          font-size: 14px;
        }
        &-col2 {
          width: 50%;
        }
        &-row2{
          font-size:14px;
        }
      }
    }
    &-col4 {
      flex-basis: 25%;
      background-color: $Pure-Yellow;

      &-logo {
        flex-basis: 120px;
      }
      &-logo > img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  $Footer-height: 180px;

  .Footer {
    height: $Footer-height;
    &-col1 {
      display: flex;
      height: $Footer-height;
      flex-basis: 15%;

      &-row1 {
      }
      &-row2 {
      }
    }

    &-col1 > button{
      display:none;
    }

    &-col2 {
      height: $Footer-height;
      padding-left: 18px;
      flex-basis: 35%;

      &-details {
        &-info {
          padding-bottom: 10px;
        }

        &-contact {
          padding-bottom: 8px;
        }
        &-contact > div {
          width: 10px;
          img {
            width: 15px;
          }
        }
        &-contact > span {
          font-size: 12px;
          margin-left: 15px;
        }
      }
    }

    &-col3 {
      height: $Footer-height;
      flex-basis: 40%;
      &-row1 {
        padding-left: 20px;
      }
      &-row1 p:nth-child(1) {
        padding-bottom: 5px;
        text-transform: lowercase;
        text-transform: capitalize;
        font-size: 16px;
      }
      &-row1 p:nth-child(2) {
        font-size: 14px;
      }

      // &-row2 {
      //   height: 50%;
      //   width: 100%;

      //   &-col1 {
      //     width: 80%;
      //     padding-left: 20px;
      //     font-size: 14px;
      //   }
      //   &-col2 {
      //     width: 50%;
      //   }
      // }
    }
    &-col4 {
      flex-basis: 25%;
      background-color: $Pure-Yellow;

      &-logo {
        flex-basis: 100px;
      }
      &-logo > img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  $Footer-height: 100px;

  .Footer {
    height: $Footer-height;
    &-col1 {
      display: flex;
      height: $Footer-height;
      flex-basis: 15%;

      &-row1 {
      }
      &-row2 {
      }
    }

    &-col2 {
      height: $Footer-height;
      padding-left: 13px;
      margin: 0;
      flex-basis: 40%;
      align-items: flex-start;

      &-details {
        display: flex;
        flex-direction: column;
        margin: 0;
        &-info {
          padding-bottom: 7px;
          font-size: 10px;
        }

        &-contact {
          margin: 0;
          padding-bottom: 3px;
          // display: inline-block;
          img {
            width: 10px;
            padding: 0;
            margin: 0;
          }
        }

        &-contact > span {
          font-size: 8px;
          margin-left: 4px;
          margin-bottom: 0;
          padding: 0;
        }
      }
    }

    &-col3 {
      height: $Footer-height;
      flex-basis: 35%;
      justify-content:flex-start;
      &-row1 {
        padding-left: 10px;
        padding-bottom:20px;
      }
     
      &-row1 p{
        font-size: 8px;
        padding-bottom: 2px;
      }
      &-row1 p:nth-child(1) {
        padding-bottom: 5px;
        text-transform: uppercase;
        font-size: 10px;
      }
      &-row1 p:nth-child(2) {
        font-size: 8px;
      }

      // &-row2 {
      //   height: 50%;
      //   width: 100%;

      //   &-col1 {
      //     width: 80%;
      //     padding-left: 10px;
      //     font-size: 8px;
      //   }
      //   &-col1 p:nth-child(1) {
      //     padding-bottom: 4px;
      //   }
      //   &-col2 {
      //     width: 50%;
      //   }
      // }
    }
    &-col4 {
      flex-basis: 25%;
      background-color: $Pure-Yellow;

      &-logo {
        flex-basis: 60px;
      }
      &-logo > img {
        width: 100%;
      }
    }
  }
}
