$Section4_height: calc(100vh - 80px - 180px);
$Section4_heading_font:2.25rem;
$Section4_text_font:0.75rem;
$Section4_padding:90px;


.Section4 {
  display: flex;
  width: 100%;
  height: $Section4_height;
  position: relative;
  scroll-snap-align: start;
  // scroll-margin:80px;

  
  &-picture {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;

    &-earth {
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      display:flex;
      justify-content: center;
      align-items:center;
    }
    &-earth >img{
      width:50%;
      height:70%;
    }

    &-top {
      height: 50%;
      background: #a1d8d8;
    }

    &-bottom {
      height: 50%;
      background: #5faf42;
    }
  }

  &-info {
    width: calc(100% - 50%);
    display: flex;
    flex-direction: column;

    &-top {
      height: 50%;
      background: #adcb4f;
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-direction: column;
      padding-left: 20%;
      padding-right:20%;
      padding-bottom:30px;

      &-imageText{
        z-index:3;
        &-image{
          max-width: 150px;
          // padding-bottom:1rem;
        }
  
        &-Text {
          font-family: "Monserrat";
          font-weight: 300;
          font-size: $Section4_heading_font;
          color:white;
  
  
          span {
            display: inline-block;
          }
        }
      }
      
    }

    &-bottom {
      height: 50%;
      background: #8abb2a;
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 20%;
      padding-right:20%;
      padding-top: 30px;
    
      &-Text2 {
        color: white;
        width:100%;
        font-family: "Poppins";
        font-weight: 200;
        font-size: $Section4_text_font;
        &-span{
          display:none;
        }
      }
    }
  }
}

@media(min-width:1500px){
  $Section4_height: calc(100vh - 80px - 200px);
  $Section4_heading_font:2.5rem;
  $Section4_text_font:1rem;
  $Section4_padding:90px;


.Section4 {
  height: $Section4_height;
  &-picture {

    &-earth {
      width:100%;
      height:100%;
    }
    &-earth >img{
      width:50%;
      height:70%;
    }
    &-top {
      height: 50%;
    }
    &-bottom {
      height: 50%;
    }
  }
  &-info {
    width: calc(100% - 50%);

    &-top {
      height: 50%;
      // padding-left:20;
      padding-bottom:30px;

      &-imageText{
        z-index:3;
        &-image{
          max-width: 150px;
          padding-bottom:1rem;
        }
  
        &-Text {
          font-size: $Section4_heading_font;
          span {
            display: inline-block;
          }
        }
      }
      
    }

    &-bottom {
      height: 50%;
      // padding-left: 110px;
      padding-top: 30px;
    
      &-Text2 {
        width:100%;
        font-size: $Section4_text_font;
        &-span{
          display:inline;
        }
      }
    }
  }
}

}

@media(max-width:900px){
  $Section4_height: calc(100vh - 80px - 180px);
$Section4_heading_font:2.25rem;
$Section4_text_font:0.75rem;
$Section4_padding:90px;


.Section4 {
  display: flex;
  width: 100%;
  height: $Section4_height;
  position: relative;

  
  &-picture {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &-info {
    &-top {
      padding-left:60px;
      padding-bottom:30px;
    }
    &-bottom {
      padding-left: 60px;
      padding-top: 30px;
    }
  }
}
}

@media(max-width:770px){
  $Section4_height: calc(100vh - 80px - 180px);
  $Section4_heading_font:1.75rem;
  $Section4_text_font:10px;
  $Section4_padding:60px;


.Section4 {
  display: flex;
  width: 100%;
  height: $Section4_height;
  position: relative;
  scroll-snap-align: center;

  
  &-picture {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;

    &-earth {
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      display:flex;
      justify-content: center;
      align-items:center;
    }
    &-earth >img{
      width:60%;
      height:70%;
    }

    &-top {
      height: 50%;
      background: #a1d8d8;
    }

    &-bottom {
      height: 50%;
      background: #5faf42;
    }
  }

  &-info {
    width: calc(100% - 50%);
    display: flex;
    flex-direction: column;

    &-top {
      height: 50%;
      background: #adcb4f;
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left:60px;
      padding-bottom:30px;

      &-imageText{
        z-index:3;
        &-image{
          max-width: 130px;
          // padding-bottom:16px;
        }
  
        &-Text {
          font-family: "Monserrat";
          font-weight: 300;
          font-size: $Section4_heading_font;
          color:white;
  
  
          span {
            display: inline-block;
          }
        }
      }
      
    }

    &-bottom {
      height: 50%;
      background: #8abb2a;
      display:flex;
      flex-direction: column;
      padding-left: 60px;
      padding-top: 30px;
    
      &-Text2 {
        color: white;
        width:55%;
        font-family: "Poppins";
        font-weight: 200;
        font-size: $Section4_text_font;
      }
    }
  }
}

}

@media(max-width:570px){
  $Section4_height: calc(45vh - 80px);
  $Section4_heading_font:0.875rem;
  $Section4_text_font:0.5rem;
  $Section4_padding:60px;


.Section4 {
  display: flex;
  width: 100%;
  height: $Section4_height;
  position: relative;

  
  &-picture {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;

    &-earth {
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      display:flex;
      justify-content: center;
      align-items:center;
    }
    &-earth >img{
      width:60%;
      height:70%;
    }

    &-top {
      height: 50%;
      background: #a1d8d8;
    }

    &-bottom {
      height: 50%;
      background: #5faf42;
    }
  }

  &-info {
    width: calc(100% - 50%);
    display: flex;
    flex-direction: column;

    &-top {
      height: 50%;
      background: #adcb4f;
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left:25px;
      padding-bottom:5px;

      &-imageText{
        z-index:3;
        &-image{
          max-width: 60px;
          // padding-bottom:16px;
        }
  
        &-Text {
          font-family: "Monserrat";
          font-weight: 300;
          font-size: $Section4_heading_font;
          color:white;
  
  
          span {
            display: block;
          }
        }
      }
      
    }

    &-bottom {
      height: 50%;
      background: #8abb2a;
      display:flex;
      flex-direction: column;
      padding-left: 25px;
      padding-top: 5px;
    
      &-Text2 {
        color: white;
        width:100%;
        font-family: "Poppins";
        font-weight: 200;
        font-size: $Section4_text_font;
      }
    }
  }
}

}

@media(max-width:370px){
  // $Section4_height: calc(100vh - 80px - 100px);
  $Section4_heading_font:0.875rem;
  $Section4_text_font:0.5rem;
  $Section4_padding:60px;


.Section4 {
  display: flex;
  width: 100%;
  // height: $Section4_height;
  position: relative;
  scroll-snap-align: center;

  
  &-picture {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;

    &-earth {
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      display:flex;
      justify-content: center;
      align-items:center;
    }
    &-earth >img{
      width:60%;
      height:70%;
    }

    &-top {
      height: 50%;
      background: #a1d8d8;
    }

    &-bottom {
      height: 50%;
      background: #5faf42;
    }
  }

  &-info {
    width: calc(100% - 50%);
    display: flex;
    flex-direction: column;

    &-top {
      height: 50%;
      background: #adcb4f;
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left:25px;
      padding-bottom:5px;
      &-imageText{
        z-index:3;
        // &-image{
        //   // padding-bottom:16px;
        // }
  
        &-Text {
          font-family: "Monserrat";
          font-weight: 300;
          font-size: $Section4_heading_font;
          color:white;
  
  
          span {
            display: block;
          }
        }
      }
      
    }

    &-bottom {
      height: 50%;
      background: #8abb2a;
      display:flex;
      flex-direction: column;
      padding-left: 25px;
      padding-top: 5px;
      padding-right:15px;
    
      &-Text2 {
        color: white;
        // width:55%;
        font-family: "Poppins";
        font-weight: 200;
        font-size: $Section4_text_font;
      }
    }
  }
}

}