
    @keyframes zoomIn{
    
      0%{
        width:60vw;
        height:50vh;
      }
      100%{
        width:100%;
        height:100vh;
      }
    }
    
    @keyframes textAnimation{
      0%{
        transform: translateX(-100%);
      }
      100%{
        
        transform: translateX(0);
      }
    }
     
    @keyframes textAnimationReverse{
      0%{
        transform: translateX(0%);
      }
      100%{
        
        transform: translateX(-300%);
      }
    }

    @keyframes zoomedOut{
      0%{
        width:100vw;
        height:100vh;
      }
      100%{
        height:45vh;
        width:50vw;
      }
    }

    @keyframes txt{
      0%{
        transform:translateX(-100px);
        opacity:0;
      }
      100%{
        transform:translateX(0px);
        opacity:1;
      }
    }
    

    .download_button{
      padding-left: 12px;
      padding-top: 6px;
      padding-right: 18px;
      padding-bottom: 6px;
      margin-right: 16px;
      color: white;
      font-family: "Monserrat";
      font-weight: 250;
      font-size: 14px;
      background: #161615 0% 0% no-repeat padding-box;
      border: none;
      outline: none;
      border-radius: 6px;
      overflow: hidden;
      white-space: nowrap;
    }
    
// $Section1_height: calc(60% - 80px);
$Half-Width: 50%;
$Section1_height: auto;
$row2_height: auto;

.Section1 {
  background: #5dbc58;
 

  &-row1 {
    display: flex;
    flex-wrap: wrap;
    position:relative;
    max-width:100%;

    &-shopOpen{
      position:absolute;
      background: #cfd136;
      max-width:100%;
      height:100vh;
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 1s ease;
      z-index:2;
      animation: zoomIn 1.5s forwards;
      opacity:1;

      &-cross{
        position:absolute;
        top:5%;
        right:4%;
        z-index:3;
      }
      &-cross >img{
        cursor:pointer;
      }
     
      &-textBlock{
        width: 50%;
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: txt 1s forwards;
        align-items:flex-start;
        padding-right:50px;
        padding-bottom:50px;
        animation:textAnimation 1s forwards;

        &-Gollaa {
          margin-bottom: 2rem;
          overflow: hidden;
          white-space: nowrap;

          &-image {
            // max-width: 90px;
            max-width: 50%;
            margin: 0;
          }
          &-heading {
            font-size: 16px;
            font-family: Poppins;
            font-weight: 200;
            padding-left: 5px;
          }
        }
        &-subheading1{
          font-family:'Monserrat';
          font-weight: 250;
          font-size:16px;
          padding-bottom:2rem;
        }
        &-subheading2,&-subheading3{
          font-family:'Poppins';
          font-weight:200;
          font-size:16px;
        }
        &-subheading2{
          padding-bottom:1rem;
        }
        &-app >button{
          @extend .download_button;
          margin-top:1.5rem;
        }
      }
      
    }


    &-shopClosed{
      position:absolute;
      background: #cfd136;
      z-index:2;
      width:500px;
      height:200px;
      transition: all 1s ease !important;
      animation: zoomedOut 1.5s forwards !important;
      z-index:2;
      &-textBlock{
        animation:textAnimationReverse 3.5s forwards;
      }
    }

    &-dummyShop{
      display:inline-block;
      position:static;
    }
 
    &-shop{
       transition:background 0.5s ease;
    }
   
    &-shop,&-dummyShop {
      position:relative;
      flex-basis: $Half-Width !important;
      min-height:200px !important;
      transition: all 1s ease;
      left:0;
      opacity:1;
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #cfd136;
      padding-left: 30px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      

      &-image {
        // flex: 1 1 250px;
        flex:1 1 50%;
      }
      &-image > img {
        max-width: 90%;
      }
      &-text {
        width: 50%;
        height: $Section1_height;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-Gollaa {
          margin-bottom: 8px;
          overflow: hidden;
          white-space: nowrap;

          &-image {
            // max-width: 90px;
            max-width: 30%;
            margin: 0;
          }
          &-heading {
            font-size: 16px;
            font-family: Poppins;
            font-weight: 200;
            padding-left: 5px;
          }
        }
        &-subheading {
          font-family: "Monserrat";
          font-weight: 200;
          font-size: 16px;
        }
        &-app,.maxOpacity {
          transition:opacity 0.5s;
          margin-top: 35px;
          cursor: pointer;
          opacity:0;
          z-index:3;
        }
        &-app > button, .maxOpacity > button{
          @extend .download_button;
    
        }
        &-app > span , .maxOpacity>span{
          font-family: "Monserrat";
          font-weight: 200;
          font-size: 14px;
          overflow: hidden;
          white-space: nowrap;
          opacity:1;
          transition:opacity 1s ease;
        }
      }
    }

   

    &-grow {
      display: flex;
      // width: 50%; 
      // min-height: 200px; 
      flex: 1 1 50%;
      flex-grow:1;
      flex-shrink:1;
      
      min-height: $Section1_height;
      // min-height: calc(50% - 80px);
      background: #8cc63f;
      padding-left: 56.52px;

      &-image {
        display: flex;
        align-items: flex-end;
        padding: 0;
      }
      &-image {
        width: 50%;
      }
      &-image > img {
        // max-width: 350px;
        max-width: 100%;
        // background: white;
      }
      &-text {
        width: 50%;
        height: $Section1_height;
        // background: red;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-Gollaa {
          margin-bottom: 8px;

          &-image {
            max-width: 30%;
            margin: 0;
          }
          &-heading {
            font-size: 16px;
            font-family: Poppins;
            font-weight: 200;
            padding-left: 5px;
          }
        }
        &-subheading {
          font-family: "Monserrat";
          font-weight: 200;
          font-size: 16px;
        }
        &-app {
          // display: none;
          opacity: 0;
          margin-top: 35px;
        }
        &-app > button {
          padding-left: 12px;
          padding-top: 6px;
          padding-right: 18px;
          padding-bottom: 6px;
          margin-right: 16px;
          color: white;
          font-family: "Monserrat";
          font-weight: 250;
          font-size: 14px;
          background: #161615 0% 0% no-repeat padding-box;
          border: none;
          outline: none;
          overflow: hidden;
          white-space: nowrap;
          border-radius: 6px;
        }
        &-app > span {
          font-family: "Monserrat";
          font-weight: 200;
          font-size: 14px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    // &-row2 {
    //   margin: 0px;
    //   display: flex;
    //   flex-wrap: wrap;
    //   width: 100%;
    //   max-height: $row2_height;
    //   background: white;

    &-support {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // width: calc(100% / 3);
      flex: 1 1 250px;
      // height: 350px;
      background: #ede139;
      padding-left: 25px;
      padding-top: 25px;

      &-image {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;
        padding: 0;
        margin: 0;
        // background: pink;
      }

      &-image > img {
        max-width: 320px;
        // flex: 1 1 320px;
        height: auto;
        object-fit: contain;
        // padding: 0;
        // margin: 0;
      }
      &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        &-Gollaa {
          margin-bottom: 8px;

          &-image {
            max-width: 75px;
            margin: 0;
          }
          &-heading {
            font-size: 14px;
            font-family: Poppins;
            font-weight: 200;
            padding-left: 5px;
          }
        }
        &-subheading {
          font-family: "Monserrat";
          font-weight: 200;
          font-size: 14px;
        }
        &-app {
          display: none;
          margin-top: 35px;
          position: absolute;
          top: 60px;
        }
        &-app > button {
          padding-left: 12px;
          padding-top: 6px;
          padding-right: 18px;
          padding-bottom: 6px;
          margin-right: 16px;
          color: white;
          font-family: "Monserrat";
          font-weight: 250;
          font-size: 12px;
          background: #161615 0% 0% no-repeat padding-box;
          border: none;
          outline: none;
          border-radius: 6px;
          overflow: hidden;
          white-space: nowrap;
        }
        &-app > span {
          font-family: "Monserrat";
          font-weight: 200;
          font-size: 12px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    &-stay {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // width: calc(100% / 3);
      flex: 1 1 250px;
      // height: 350px;
      background: #5dbc58;
      padding-left: 25px;
      padding-top: 25px;

      &-image {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;
        padding: 0;
        margin: 0;
        // background: pink
      }

      &-image > img {
        max-width: 230px;
        // flex: 1 1 230px;
        // height: 300px;
        object-fit: contain;
        // padding: 0;
        // margin: 0;
      }
      &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        &-Gollaa {
          margin-bottom: 8px;

          &-image {
            max-width: 75px;
            margin: 0;
          }
          &-heading {
            font-size: 14px;
            font-family: Poppins;
            font-weight: 200;
            padding-left: 5px;
          }
        }
        &-subheading {
          font-family: "Monserrat";
          font-weight: 200;
          font-size: 14px;
        }
        &-app {
          display: none;
          margin-top: 35px;
          position: absolute;
          top: 60px;
        }
        &-app > button {
          padding-left: 12px;
          padding-top: 6px;
          padding-right: 18px;
          padding-bottom: 6px;
          margin-right: 16px;
          color: white;
          font-family: "Monserrat";
          font-weight: 250;
          font-size: 12px;
          background: #161615 0% 0% no-repeat padding-box;
          border: none;
          outline: none;
          border-radius: 6px;
          overflow: hidden;
          white-space: nowrap;
        }
        &-app > span {
          font-family: "Monserrat";
          font-weight: 200;
          font-size: 12px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    &-trade {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // width: calc(100% / 3);
      flex: 1 1 250px;
      // height: 350px;
      background: #afd466;
      padding-left: 25px;
      padding-top: 25px;

      &-image {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;
        padding: 0;
        margin: 0;
        // background: pink;
      }

      &-image > img {
        max-width: 180px;
        // flex: 1 1 180px;
        // height: 300px;
        object-fit: contain;
        // padding: 0;
        // margin: 0;
      }
      &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        // background-color: #ede139;
        &-Gollaa {
          margin-bottom: 8px;

          &-image {
            max-width: 75px;
            margin: 0;
          }
          &-heading {
            font-size: 14px;
            font-family: Poppins;
            font-weight: 200;
            padding-left: 5px;
          }
        }
        &-subheading {
          font-family: "Monserrat";
          font-weight: 200;
          font-size: 14px;
        }
        &-app {
          display: none;
          margin-top: 35px;
          position: absolute;
          top: 60px;
        }
        &-app > button {
          padding-left: 12px;
          padding-top: 6px;
          padding-right: 18px;
          padding-bottom: 6px;
          margin-right: 16px;
          color: white;
          font-family: "Monserrat";
          font-weight: 250;
          font-size: 12px;
          background: #161615 0% 0% no-repeat padding-box;
          border: none;
          outline: none;
          border-radius: 6px;
          overflow: hidden;
          white-space: nowrap;
        }
        &-app > span {
          font-family: "Monserrat";
          font-weight: 200;
          font-size: 12px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}

// media queries section

@media (max-width: 900px) {
  $Section1_height: auto;
  $row2_height: auto;

  .Section1 {
    &-row1 {
      height: $Section1_height;

      &-shop {
        flex: 1 1 100%;
        flex-direction: row-reverse;
        align-items: flex-start;
        padding-left: 25px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

        &-image {
          flex: 1 1 100px;
        }
        &-image > img {
          max-width: 90%;
        }
        &-text {
          width: 50%;
          height: $Section1_height;
          padding-top: 30px;

          &-Gollaa {
            margin-bottom: 8px;
            &-image {
              max-width: 40%;
            }
            &-heading {
              font-size: 24px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 24px;
          }
          &-app {
            margin-top: 35px;
            opacity: 1;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 14px;
          }
          &-app > span {
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-grow {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        min-height: $Section1_height;
        padding-left: 25px;
        padding-top: 25px;
        &-image {
          align-items: flex-end;
          padding: 0;
        }
        &-image {
          width: 100%;
        }
        &-image > img {
          // max-width: 350px;
          max-width: 100%;
        }
        &-text {
          width: 100%;
          height: $Section1_height;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;

          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 75px;
              margin: 0;
            }
            &-heading {
              font-size: 16px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 16px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            color: white;
            font-family: "Monserrat";
            font-weight: 250;
            font-size: 12px;
            background: #161615 0% 0% no-repeat padding-box;
            border: none;
            outline: none;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-family: "Monserrat";
            font-weight: 200;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-support {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 50%;
        padding-left: 25px;
        padding-top: 25px;

        &-image {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
        }

        &-image > img {
          max-width: 320px;
          height: auto;
          object-fit: contain;
        }
        &-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;

          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 75px;
              margin: 0;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 14px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-stay {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 50%;
        padding-left: 25px;
        padding-top: 25px;

        &-image {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          text-align: right;
        }

        &-image > img {
          max-width: 230px;
          object-fit: contain;
        }
        &-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;

          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 75px;
              margin: 0;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 14px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 12px;
            border: none;
            outline: none;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-family: "Monserrat";
            font-weight: 200;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
      &-trade {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 50%;
        padding-left: 25px;
        padding-top: 25px;

        &-image {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          text-align: right;
        }

        &-image > img {
          max-width: 180px;
          object-fit: contain;
        }
        &-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 75px;
              margin: 0;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 14px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media (max-width: 690px) {
  $Section1_height: auto;
  $row2_height: auto;

  .Section1 {
    &-row1 {
      height: $Section1_height;

      &-shop {
        flex: 1 1 100%;
        flex-direction: row-reverse;
        align-items: flex-start;
        padding-left: 25px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

        &-image {
          flex: 1 1 100px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &-image > img {
          max-width: 90%;
        }
        &-text {
          width: 50%;
          height: $Section1_height;
          padding-top: 30px;

          &-Gollaa {
            margin-bottom: 8px;
            &-image {
              max-width: 30%;
            }
            &-heading {
              font-size: 22px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 20px;
          }
          &-app {
            margin-top: 35px;
            opacity: 1;
            display: none;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 14px;
          }
          &-app > span {
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-grow {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        min-height: $Section1_height;
        padding-left: 25px;
        padding-top: 25px;
        &-image {
          align-items: flex-end;
          padding: 0;
        }
        &-image {
          width: 100%;
        }
        &-image > img {
          // max-width: 350px;
          max-width: 250px;
        }
        &-text {
          width: 100%;
          height: $Section1_height;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;

          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 75px;
              margin: 0;
            }
            &-heading {
              font-size: 16px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 16px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            color: white;
            font-family: "Monserrat";
            font-weight: 250;
            font-size: 12px;
            background: #161615 0% 0% no-repeat padding-box;
            border: none;
            outline: none;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-family: "Monserrat";
            font-weight: 200;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-support {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 50%;
        padding-left: 25px;
        padding-top: 25px;

        &-image {
          display: flex;
          align-items: flex-end;
          justify-content: center;
        }

        &-image > img {
          max-width: 220px;
          height: auto;
          object-fit: contain;
        }
        &-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;

          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 75px;
              margin: 0;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 14px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-stay {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 50%;
        padding-left: 25px;
        padding-top: 25px;

        &-image {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          text-align: right;
        }

        &-image > img {
          max-width: 130px;
          object-fit: contain;
        }
        &-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;

          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 75px;
              margin: 0;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 14px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 12px;
            border: none;
            outline: none;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-family: "Monserrat";
            font-weight: 200;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
      &-trade {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 50%;
        padding-left: 25px;
        padding-top: 25px;

        &-image {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          text-align: right;
        }

        &-image > img {
          max-width: 120px;
          object-fit: contain;
        }
        &-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 75px;
              margin: 0;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 14px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

// media query 2

@media (max-width: 550px) {
  $Section1_height: auto;
  $row2_height: auto;

  .Section1 {
    &-row1 {
      height: $Section1_height;
      align-items: stretch;
      position: relative;
      &-shop {
        flex: 1 1 100%;
        justify-content: flex-start;
        padding-left: 25px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

        &-image {
          flex: 1 1 65px;
        }
        &-image > img {
          max-width: 100%;
        }
        &-text {
          width: 50%;
          height: $Section1_height;
          padding-top: 0px;

          &-Gollaa {
            margin-bottom: 8px;
            &-image {
              max-width: 85px;
            }
            &-heading {
              font-size: 22px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 18px;
          }
          &-app {
            margin-top: 35px;
            opacity: 1;
            display: none;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 14px;
          }
          &-app > span {
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-grow {
        display: flex;
        flex: 1 1 50%;
        // max-height: 200px;
        // align-self: flex-start;
        padding-left: 25px;
        padding-top: 25px;
        &-image {
          padding: 0;
        }
        &-image {
          width: 100%;
        }
        &-image > img {
          // max-width: 350px;
          max-width: 200px;
        }
        &-text {
          width: 100%;
          height: $Section1_height;
          position: relative;

          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 65px;
              margin: 0;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 12px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            color: white;
            font-family: "Monserrat";
            font-weight: 250;
            font-size: 12px;
            background: #161615 0% 0% no-repeat padding-box;
            border: none;
            outline: none;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-family: "Monserrat";
            font-weight: 200;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-support {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 50%;
        // height: 300px;
        padding-left: 25px;
        padding-top: 25px;

        &-image {
          display: flex;
        }

        &-image > img {
          max-width: 150px;
          height: auto;
          object-fit: contain;
        }
        &-text {
          display: flex;
          position: relative;

          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 65px;
              margin: 0;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 12px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-stay {
        // position: static;
        // opacity: 0.2;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 50%;
        padding-left: 25px;
        padding-top: 25px;
        &-image {
          display: flex;
        }

        &-image > img {
          max-width: 130px;
          object-fit: contain;
        }
        &-text {
          display: flex;
          position: relative;

          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 65px;
              margin: 0;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 12px;
          }
          &-app {
            display: none;
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 12px;
            border: none;
            outline: none;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-family: "Monserrat";
            font-weight: 200;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-trade {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 50%;
        padding-left: 25px;
        padding-top: 25px;

        &-image {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          text-align: right;
        }

        &-image > img {
          max-width: 120px;
          object-fit: contain;
        }
        &-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 65px;
              margin: 0;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 12px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

// media query 2

@media (max-width: 450px) {
  $Section1_height: auto;
  $row2_height: auto;
  $shop_height: auto;

  .Section1 {
    &-row1 {
      height: $Section1_height;
      align-items: stretch;
      position: relative;
      &-shop {
        flex: 1 1 100%;
        justify-content: flex-start;
        padding-left: 25px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        height: $shop_height;

        &-image {
          flex: 1 1 85px;
          width: 55%;
        }
        &-image > img {
          max-width: 100%;
        }
        &-text {
          width: 45%;
          height: $Section1_height;
          padding-top: 0px;

          &-Gollaa {
            margin-bottom: 8px;
            overflow: visible;
            white-space: nowrap;
            &-image {
              max-width: 85px;
            }
            &-heading {
              font-size: 22px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 16px;
          }
          &-app {
            margin-top: 35px;
            opacity: 1;
            display: none;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 14px;
          }
          &-app > span {
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-grow {
        display: flex;
        flex: 0 1 50%;
        // max-height: 200px;
        align-self: flex-start;
        padding-left: 0px;
        padding-top: 0px;
        &-image {
          padding: 0;
        }
        &-image {
          width: 100%;
        }
        &-image > img {
          // max-width: 350px;
          max-width: 100%;
        }
        &-text {
          width: 100%;
          height: $Section1_height;
          position: relative;
          padding-left: 25px;
          padding-top: 25px;

          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 65px;
              margin: 0;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 12px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            color: white;
            font-family: "Monserrat";
            font-weight: 250;
            font-size: 12px;
            background: #161615 0% 0% no-repeat padding-box;
            border: none;
            outline: none;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-family: "Monserrat";
            font-weight: 200;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-support {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 50%;
        height: 250px;
        padding-left: 0;
        padding-top: 0;
        background: #8abb2a;
        color: white;

        &-image {
          display: flex;
        }

        &-image > img {
          max-width: 95%;
          height: auto;
          object-fit: contain;
        }
        &-text {
          display: flex;
          position: relative;
          padding-left: 25px;
          padding-top: 25px;
          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 65px;
              margin: 0;
              fill: white;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 12px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-stay {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex: 0 0 50%;
        padding-left: 0;
        padding-top: 0;
        position: relative;
        color: white;

        &-image {
          display: flex;
        }

        &-image > img {
          max-width: 130px;
          object-fit: contain;
        }
        &-text {
          display: flex;
          position: absolute;
          top: -15%;
          left: 10%;

          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 65px;
              margin: 0;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 12px;
          }
          &-app {
            display: none;
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 12px;
            border: none;
            outline: none;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-family: "Monserrat";
            font-weight: 200;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &-trade {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 50%;
        padding-left: 0;
        padding-top: 0;
        background: #ffe815;

        &-image {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          text-align: right;
        }

        &-image > img {
          max-width: 60%;
          object-fit: contain;
        }
        &-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          padding-left: 25px;
          padding-top: 25px;
          &-Gollaa {
            margin-bottom: 8px;

            &-image {
              max-width: 65px;
              margin: 0;
            }
            &-heading {
              font-size: 14px;
              padding-left: 5px;
            }
          }
          &-subheading {
            font-size: 12px;
          }
          &-app {
            margin-top: 35px;
            position: absolute;
            top: 60px;
          }
          &-app > button {
            padding-left: 12px;
            padding-top: 6px;
            padding-right: 18px;
            padding-bottom: 6px;
            margin-right: 16px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            white-space: nowrap;
          }
          &-app > span {
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
