$Section3_heading_font:2.25rem;
$Section3_text_font:0.75rem;
$Section3_padding:90px;


.Section3 {
  position:relative;
  height:calc(100vh - 80px);
  background: #cec41d;
  display: flex;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  scroll-snap-align: start;
  // scroll-margin:80px;


  &-farmingText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 7%;
    padding-right: 7%;
    z-index: 2;

    &-link,&-btn{
      padding-top:1.3rem;
      z-index:2;
    }
    &-link>button,&-btn>button{
      width:110px;
      height:32px;
      // margin-right: 16px;
      color: white;
      font-family: "Monserrat";
      font-weight: 250;
      font-size: $Section3_text_font;
      background: #161615 0% 0% no-repeat padding-box;
      border: none;
      outline: none;
      border-radius: 6px;
      overflow: hidden;
      white-space: nowrap;
      opacity:0;
    }
    &-btn>button{
      opacity:1;
      transition: opacity 0.5s ease;
    }
  }
  &-farmingText p:nth-child(1) {
    color: white;
    font-family: "Monserrat";
    font-weight: 300;
    font-size: $Section3_heading_font;
    margin:0;
    padding-bottom: 1rem;
  }
  &-farmingText p:nth-child(1) span {
    display: inline;
  }

  &-farmingText p:nth-child(2),
  &-farmingText p:nth-child(3) {
    margin:0;
    color: black;
    font-family: "Poppins";
    font-weight: 200;
    font-size:$Section3_text_font;
  }
  &-farmingText p:nth-child(2) {
    padding-bottom: 1rem;
    font-size: 0.875rem;
  }
  &-farmingText p:nth-child(2) span {
    display: inline;
  }
  // &-farmingText p:nth-child(3) {
  //   // padding-right:10%;
  // }

  &-farmingImage {
    width: 50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-image {
      width: 100%;
      height:100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-image > img {
      max-width: 90%;
    }
  }
}

@media(min-width:1500px){

$Section3_heading_font:2.5rem;
$Section3_text_font:1rem;
$Section3_padding:90px;

.Section3 {
  height:calc(100vh - 80px);
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;

  &-farmingText {
    
    // padding-left: 0px;
    // padding-right: 0%;

    &-link,&-btn{
      padding-top:2.3rem;
    }
    &-link>button,&-btn>button{
      width:152px;
      height:40px;
      font-weight:300;
      border-radius:10px;
      font-size: 15px;
    }
  }
  &-farmingText p:nth-child(1) {
    font-size: $Section3_heading_font;
    margin:0;
    padding-bottom: 1rem;
  }

  &-farmingText p:nth-child(2),
  &-farmingText p:nth-child(3) {
    font-size:$Section3_text_font;
  }
  &-farmingText p:nth-child(2) {
    padding-bottom: 2rem;
    padding-right:10%;
    font-size: 1.125rem;
  }
  &-farmingText p:nth-child(3) {
    padding-right:15%;
  }

  &-farmingImage {
    width: 50%;
    height:100%;
    &-image {
      width: 100%;
      height:100%;
    }
    &-image > img {
      max-width: 90%;
    }
  }
}
}


@media(max-width:900px){
  $Section3_heading_font:1.75rem;
  $Section3_text_font:10px;
  $Section3_padding:60px;


.Section3 {
  position:relative;
  height:calc(100vh - 80px);
  background: #cec41d;
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  // scroll-snap-align: center;


  &-farmingText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 40px;
    padding-right: 10%;
    z-index: 2;

    &-link,&-btn{
      padding-top:1.3rem;
      z-index:2;
    }
    &-link>button,&-btn>button{
      width:110px;
      height:32px;
      // margin-right: 16px;
      color: white;
      font-family: "Monserrat";
      font-weight: 250;
      font-size: $Section3_text_font;
      background: #161615 0% 0% no-repeat padding-box;
      border: none;
      outline: none;
      border-radius: 6px;
      overflow: hidden;
      white-space: nowrap;
      opacity:1;
    }
    &-btn>button{
      opacity:1;
      transition: opacity 0.5s ease;
    }
  }
  &-farmingText p:nth-child(1) {
    color: white;
    font-family: "Monserrat";
    font-weight: 300;
    font-size: $Section3_heading_font;
    margin:0;
    padding-bottom: 1rem;
  }
  &-farmingText p:nth-child(1) span {
    display: block;
  }

  &-farmingText p:nth-child(2),
  &-farmingText p:nth-child(3) {
    margin:0;
    color: black;
    font-family: "Poppins";
    font-weight: 200;
    font-size:$Section3_text_font;
  }
  &-farmingText p:nth-child(2) {
    padding-bottom: 1rem;
    font-size: 0.75rem;
  }
  &-farmingText p:nth-child(2) span {
    display: block;
    white-space:nowrap;
  }
  // &-farmingText p:nth-child(3) {
  //   // padding-right:10%;
  // }

  &-farmingImage {
    width: 50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-image {
      width: 100%;
      height:100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-image > img {
      max-width: 90%;
    }
  }
}

}



@media(max-width:570px){
  $Section3_heading_font:0.875rem;
  $Section3_text_font:0.5rem;
  $Section3_padding:60px;


.Section3 {
  position:relative;
  height:calc(45vh - 80px);
  background: #cec41d;
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  // scroll-snap-align: center;


  &-farmingText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 40px;
    padding-right: 5%;
    z-index: 2;

    &-link,&-btn{
      padding-top:1.3rem;
      z-index:2;
    }
    &-link>button,&-btn>button{
      display:none;
      width:110px;
      height:32px;
      // margin-right: 16px;
      color: white;
      font-family: "Monserrat";
      font-weight: 250;
      font-size: $Section3_text_font;
      background: #161615 0% 0% no-repeat padding-box;
      border: none;
      outline: none;
      border-radius: 6px;
      overflow: hidden;
      white-space: nowrap;
      opacity:1;
    }
    &-btn>button{
      opacity:1;
      transition: opacity 0.5s ease;
    }
  }
  &-farmingText p:nth-child(1) {
    color: white;
    font-family: "Monserrat";
    font-weight: 300;
    font-size: $Section3_heading_font;
    margin:0;
    padding-bottom: 0.5rem;
  }
  &-farmingText p:nth-child(1) span {
    display: block;
  }
  &-farmingText p:nth-child(1) span:nth-child(2){
    display:inline-block;
    white-space: nowrap;
    overflow:none;
  }

  &-farmingText p:nth-child(2),
  &-farmingText p:nth-child(3) {
    margin:0;
    color: black;
    font-family: "Poppins";
    font-weight: 200;
    font-size:$Section3_text_font;
  }
  &-farmingText p:nth-child(2) {
    padding-bottom: 1rem;
    font-size: $Section3_text_font;
  }
  &-farmingText p:nth-child(2) span {
    display: inline-block;
  }
  &-farmingText p:nth-child(3) {
    // padding-right:10%;
    display:none;
  }

  &-farmingImage {
    width: 50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-image {
      width: 100%;
      height:100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-image > img {
      max-width: 90%;
    }
  }
}

}




@media(max-width:370px){
  $Section3_heading_font:0.875rem;
  $Section3_text_font:0.5rem;
  $Section3_padding:60px;


.Section3 {
  position:relative;
  height:calc(45vh - 80px);
  background: #cec41d;
  display: flex;
  width: 100%;
  padding-top:10px;
  padding-bottom: 10px;
  // scroll-snap-align: center;


  &-farmingText {
   
    padding-left: 25px;
    padding-right: 0%;
  
    &-link,&-btn{
      padding-top:1.3rem;
      z-index:2;
    }
    &-link>button,&-btn>button{
      display:none;
      width:110px;
      height:32px;
      // margin-right: 16px;
      color: white;
      font-family: "Monserrat";
      font-weight: 250;
      font-size: $Section3_text_font;
      background: #161615 0% 0% no-repeat padding-box;
      border: none;
      outline: none;
      border-radius: 6px;
      overflow: hidden;
      white-space: nowrap;
      opacity:1;
    }
    &-btn>button{
      opacity:1;
      transition: opacity 0.5s ease;
    }
  }
  &-farmingText p:nth-child(1) {
    color: white;
    font-family: "Monserrat";
    font-weight: 300;
    font-size: $Section3_heading_font;
    margin:0;
    padding-bottom: 0.5rem;
  }
  &-farmingText p:nth-child(1) span {
    display: block;
  }
  &-farmingText p:nth-child(1) span:nth-child(2){
    display:inline-block;
    white-space: nowrap;
    overflow:none;
  }

  &-farmingText p:nth-child(2),
  &-farmingText p:nth-child(3) {
    margin:0;
    color: black;
    font-family: "Poppins";
    font-weight: 200;
    font-size:$Section3_text_font;
  }
  &-farmingText p:nth-child(2) {
    padding-bottom: 1rem;
    font-size: $Section3_text_font;
  }
  &-farmingText p:nth-child(2) span {
    display: inline-block;
  }
  &-farmingText p:nth-child(3) {
    // padding-right:10%;
    display:none;
  }

  &-farmingImage {
    width: 50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-image {
      width: 100%;
      height:100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-image > img {
      max-width: 90%;
    }
  }
}

}